section.articles#articles-top
    .articles__container.container

        .articles__list

            a.articles__item(href="pochemu-ljudi-predpochitajut-individual'nuju-a-ne-gruppovuju-terapiju.html")
                h2.articles__item-title.font-decor Почему люди предпочитают индивидуальную, а не групповую терапию?
                .articles__item-text В исследовании приняли участие 224 студента университета. Мы попросили их отметить по 7-балльной шкале свои предпочтения в пользу индивидуальной или групповой терапии и добавить по пять аргументов в пользу и против каждого вида терапии. Результаты подтвердили тенденцию к предпочтению индивидуальной терапии над групповой, с незначительным гендерным или этническим эффектом.
                b.articles__item-link Читать

            a.articles__item(href="")
                h2.articles__item-title.font-decor Препятствия, проблемы и преимущества групповой психотерапии онлайн
                .articles__item-text Хотя он-лайн консультирование не является чем-то новым, пандемия COVID-19 резко активизировала и узаконила ее, особенно в области групповой терапии. Групповые терапевты были вынуждены перейти в пространство онлайна, не имея достаточной подготовки и опыта по ведению онлайн-групп. Группы онлайн - это не то же самое, что личные встречи, и в них возникают специфические препятствия и проблемы, которые необходимо либо чем-то компенсировать, либо признать как потери.
                b.articles__item-link Читать

            a.articles__item(href="")
                h2.articles__item-title.font-decor Работа сновидений в группе под редакцией Кладио Нери, Роби Фридмана и Малкольн Пайнс
                .articles__item-text Групповые аналитики знают об универсальном, всепроникающем, мощном влиянии контекста и обстановки. Все, что переживается, говорится, принимается во внимание или игнорируется, имеет значимые связи с ситуацией, как в «здесь и сейчас», так и в резонансе с «там и тогда». Таким образом, запомненный сон - принесенный в группу, объясненный, проигнорированный, связанный с чем-то, усиленный, интерпретированный - принадлежит групповому контексту.
                b.articles__item-link Читать

            a.articles__item(href="")
                h2.articles__item-title.font-decor Термин «Проработка» в работе Абреу-Афонсо Жозе «Групповой анализ: Другие взгляды на сознательное и бессознательное»
                .articles__item-text Термин «проработка» можно понимать, как обозначение индивидуальной работы, выполняемой самим индивидом, которая может включать в себя страдания, боль, усталость, удовольствие, тщательную уммтвенную работу.
                b.articles__item-link Читать

            a.articles__item(href="")
                h2.articles__item-title.font-decor Уровни коммуникации
                .articles__item-text В групп-анализе или групповой аналитической психотерапии коммуникация является центральным элементом, который позволяет всему аналитическому процессу происходить в рамках теоретических и технических условий, присущих этой цели. По словам Кортесао, в психотерапевтической группе участники пытаются поделиться чувствами, конфликтами или убеждениями, обозначая эти уровни коммуникации уровнями опыта.
                b.articles__item-link Читать

            a.articles__item(href="")
                h2.articles__item-title.font-decor Понятие переноса и контрпереноса в работе Абреу-Афонсо Жозе «Групповой анализ: Другие взгляды на сознательное и бессознательное»
                .articles__item-text Психоанализ рассматривает «перенос» как важнейшую часть терапевтического процесса: процесс, возникающий в результате актуализации вытеснения бессознательных импульсов и желаний в конкретные актуальные объекты и отношения. Это повторение прототипов детских отношений, ощущаемое с ярким чувством реальности.
                b.articles__item-link Читать

            //a.articles__item(href="")
            //    h2.articles__item-title.font-decor Подготовка пограничных пациентов для терапевтической группы
            //    .articles__item-text Поток развития прогрессивных эмоциональных коммуникаций в группе при этом прерывается, а в некоторых случаях разрушается. Даже участники, сразу не включающиеся в травматическое вовлечение в происходящее пограничных частей своей личности, находят присутствие вновь прибывшего обременительным. То здесь, то там скоро прорывается скандал, в результате чего либо остальные члены группы находят хорошее объяснение для оставления группы, либо пограничный пациент исчезает.
            //    b.articles__item-link Читать

            //a.articles__item(href="")
            //    h2.articles__item-title.font-decor Понятие Паттерна в работе Абреу-Афонсо Жозе «Групповой анализ: Другие взгляды на сознательное и бессознательное»
            //    .articles__item-text Понятие паттерна было контекстуализировано Кортесао, который широко рассуждал о семантическом источнике и неоднозначности значения слова паттерн, чтобы прояснить используемое им значение. Концепция паттерна вызвала полемику с Фоулксом, поскольку Фоулксом значению был приписан иной смысл.
            //    b.articles__item-link Читать

            a.articles__item(href="")
                h2.articles__item-title.font-decor Определение понятия "групп-анализ" и "матрица группа"
                .articles__item-text Групп-анализ появился благодаря работам Фоулкса в Нортфилдской больнице в Лондоне в 1940-х годах во время Второй мировой войны. Его концепции были модифицированы Кортесао. Чтобы говорить о групп-анализе, необходимо определить его специфику и уточнить понятия, которые его поддерживают. Групп-анализ концептуализируется и описывается как способ исследования и терапии, основанный на психоаналитической теории; однако он работает с дифференцированными процедурами, которые связаны с новым окружением, группой, а также с теорией и техникой групп-анализа. Целью групп-анализа является проработка устойчивой структуры переноса, что позволяет отличить его от групповой психотерапии, основанной на психоаналитической теории.
                b.articles__item-link Читать

            a.articles__item(href="")
                h2.articles__item-title.font-decor Развитие свободно плавающей дискуссии по Фоулксу
                .articles__item-text Фоулкс предоставил нам клинический метод, который допускает участие трех психологических объектов в ассоциативном процессе. Хотя максимальный состав того, что можно правильно назвать группой, неопределенен и противоречив, ее минимальное число равно трем. Между диадическимопытом пары и групповым опытом трех происходит переход, столь же радикальный и глубокий, как и между одним и двумя. Каким бы ни был размер малой терапевтической группы, модель трех дает ей базовую эмоциональную структуру.
                b.articles__item-link Читать

        nav.articles__nav
            button.articles__nav-prev
            button.articles__nav-item.active(data-page="1") 1
            button.articles__nav-item(data-page="2")  2
            button.articles__nav-next