section.articles
    .articles__container.container
        h1.title-section.articles__title Материалы и статьи


        .articles__list

            // Отклик травматического
            a.articles__item(href="otklik-travmaticheskogo.html")
                h2.articles__item-caption Отклик травматического: восстановление социальной связи в контрпереносе
                .articles__item-text
                    p В данной статье предлагается расширенное понимание психоаналитических отношений «аналитик – пациент» с учетом исторического контекста. В статье
                        | также предпринимается попытка акцентировать внимание на необходимости
                        | рассматривать психоаналитическую работу с последствиями психической травмы с точки зрения диады «психоаналитик – пациент» и психоаналитических отношений и рассматривается значимость для работы с психической травмой (как
                        | индивидуальной, так и коллективной) анализа переноса и контрпереноса, возникающих в ходе психоаналитического лечения.

            // Эхо бессознательного
            a.articles__item(href="ekho-bessoznatelnogo-affekta.html")
                h2.articles__item-caption Эхо бессознательного аффекта: передача психической травмы
                .articles__item-text
                    p В данной статье рассматривается актуальная на сегодняшний день проблема — проблема понимания передачи психической травмы через время и поколения. Психическая травма рассматривается автором в контексте таких поняшй, как «индивидуальная травма», «коллективная травма» и «историческая травма». Проводимое исследование
                        | построено на анализе специализированной зарубежной и отечественной
                        | литературе. И в завершении автор достигает своей цели - показать
                        | возможную дополнительную грань в понимании передачи психической травмы в психосоциальном контексте.

            // Тезисы
            a.articles__item(href="istoricheskoye-v-individualnom.html")
                h2.articles__item-caption Историческое в индивидуальном: концептуализация психической и коллективной травмы во французском психоанализе
                .articles__item-text
                    p Данная статья рассматривает историю развития представлений о психической травме. Автор рассматривает взгляды современных французских психоаналитиков, таких как Рене Каэс, Франсуаза Давуан и Жан-Макс Годийер на коллективную травму и проявление исторического коллективного опыта в индивидуальной истории.