section.articles
    .articles__container.container

        .articles__list

            // 01
            a.articles__item(href="Termin-Prorabotka-v-rabote-Abreu-Afonso-ZHoze-Gruppovoj-analiz-Drugie-vzglyady-na-soznatelnoe-i-bessoznatelnoe.html")
                h2.articles__item-title.font-decor Термин «Проработка» в работе Абреу-Афонсо Жозе «Групповой анализ: Другие взгляды на сознательное и бессознательное»
                .articles__item-text
                    p Термин «проработка» можно понимать, как обозначение индивидуальной работы, выполняемой самим индивидом, которая может включать в себя страдания, боль, усталость, удовольствие, тщательную уммтвенную работу.
                b.articles__item-link Читать

            // 02
            a.articles__item(href="Urovni-kommunikacii.html")
                h2.articles__item-title.font-decor Уровни коммуникации
                .articles__item-text
                    p В групп-анализе или групповой аналитической психотерапии коммуникация является центральным элементом, который позволяет всему аналитическому процессу происходить в рамках теоретических и технических условий, присущих этой цели. По словам Кортесао, в психотерапевтической группе участники пытаются поделиться чувствами, конфликтами или убеждениями, обозначая эти уровни коммуникации уровнями опыта.
                b.articles__item-link Читать

            // 03
            a.articles__item(href="Ponyatie-perenosa-i-kontrperenosa-v-rabote-Abreu-Afonso-ZHoze-Gruppovoj-analiz-Drugie-vzglyady-na-soznatelnoe-i-bessoznatelnoe.html")
                h2.articles__item-title.font-decor Понятие переноса и контрпереноса в работе Абреу-Афонсо Жозе «Групповой анализ: Другие взгляды на сознательное и бессознательное»
                .articles__item-text
                    p Психоанализ рассматривает «перенос» как важнейшую часть терапевтического процесса: процесс, возникающий в результате актуализации вытеснения бессознательных импульсов и желаний в конкретные актуальные объекты и отношения. Это повторение прототипов детских отношений, ощущаемое с ярким чувством реальности.
                b.articles__item-link Читать

            // 06
            a.articles__item(href="Opredelenie-ponyatiya-grupp-analiz.html")
                h2.articles__item-title.font-decor Определение понятия "групп-анализ" и "матрица группа"
                .articles__item-text
                    p Групп-анализ появился благодаря работам Фоулкса в Нортфилдской больнице в Лондоне в 1940-х годах во время Второй мировой войны. <br> Его концепции были модифицированы Кортесао. Чтобы говорить о групп-анализе, необходимо определить его специфику и уточнить понятия, которые его поддерживают.
                    p Групп-анализ концептуализируется и описывается как способ исследования и терапии, основанный на психоаналитической теории; однако он работает с дифференцированными процедурами, которые связаны с новым окружением, группой, а также с теорией и техникой групп-анализа. Целью групп-анализа является проработка устойчивой структуры переноса, что позволяет отличить его от групповой психотерапии, основанной на психоаналитической теории.
                b.articles__item-link Читать

            // 07
            a.articles__item(href="Pervoe-fundamentalnoe-pravilo-Frejda.html")
                h2.articles__item-title.font-decor Первое фундаментальное правило Фрейда
                .articles__item-text
                    p Метапсихология психоанализа была пересмотрена теорией объектных отношений. Идея состоит в том, что “все, что приходит в голову, должно быть сообщено", эта мысль была сформулирована как "фундаментальное правило психоаналитической техники".
                    p Правило, которое структурирует аналитическую ситуацию: пациента просят говорить все, что он думает и чувствует, ничего не выбирая и ничего не опуская из того, что приходит ему в голову, даже если это кажется ему неприятным, нелепым, лишенным интереса или не относящимся к делу.
                b.articles__item-link Читать

            // 10
            a.articles__item(href="Gruppovaya-psihoterapiya-kak-i-pochemu-ehto-rabotaet-Chast-II-O-znachimosti-privyazannosti.html")
                h2.articles__item-title.font-decor Групповая психотерапия: как и почему это работает? Часть II. Значимость привязанности
                .articles__item-text
                    p Так получилось, что для выживания в этом социальном мире нам необходимы различные унаследованные системы реляционных потребностей, и каждая из которых выполняет свою функцию.
                    p Здесь я сразу же хотела бы уточнить понятие, которое все больше и больше набирает популярность в психотерапевтической среде, производное от relations - отношения, взаимоотношения. Реляционный психоанализ ставит на первый план именно реляционный аспект - то есть, аспект отношений и взаимоотношений.
                b.articles__item-link Читать

            // 11
            a.articles__item(href="Gruppovaya-psihoterapiya-kak-i-pochemu-ehto-rabotaet-Chast-I.html")
                h2.articles__item-title.font-decor Групповая психотерапия: как и почему это работает? Часть I
                .articles__item-text
                    p Мы существа социальные, и всегда жили в группах с другими людьми. Многие из групп, к которым мы принадлежим, были созданы другими, и зачастую наше участие и принадлежность к ним являются результатом решений других людей, а не нашего личного выбора.
                    p Большинство из нас тратит много времени и энергии на то, чтобы занять свое место в сложном, а иногда и конфликтном контексте группы. Потребность и желание принадлежать к одной или нескольким группам - типичная реакция (и потребность) человека. В значительной степени группы, к которым мы принадлежим, так или иначе определяют нас. Мы можем сказать, что наши социальные связи и участие в жизни общества создают смысл нашей жизни.
                b.articles__item-link Читать

            // 12
            a.articles__item(href="Terapiya-v-psihoanaliticheskoi-gruppe-Pochemu-mi-boimsya-nachat-O-strahe-i-stide.html")
                h2.articles__item-title.font-decor Терапия в психоаналитической группе. Почему мы боимся начать? О страхе и стыде.
                .articles__item-text
                    p Преимущества терапии в психоаналитической группе очевидны – это участие в отношениях «здесь и сейчас»; это возможность наблюдать и менять паттерны отношений; это работа с родительским и сиблинговым переносом, который также разворачивается в реальном времени в группе; это использование групповой матрицы для апробирования новых моделей поведения в межличностных отношениях и получения обратной связи от других; это уменьшение изоляции, отчуждения и стыда путем обмена опытом с членами группы. Некоторые современные аналитики даже считают, что группа часто выиграет у индивидуальной терапии по многим аспектах.
                b.articles__item-link Читать

            // 15
            a.articles__item(href="Razvitie-svobodno-plavayuschei-diskussii-po-Foulksu.html")
                h2.articles__item-title.font-decor Развитие свободно плавающей дискуссии по Фоулксу
                .articles__item-text
                    p Фоулкс предоставил нам клинический метод, который допускает участие трех психологических объектов в ассоциативном процессе. Хотя максимальный состав того, что можно правильно назвать группой, неопределенен и противоречив, ее минимальное число равно трем. Между диадическимопытом пары и групповым опытом трех происходит переход, столь же радикальный и глубокий, как и между одним и двумя. Каким бы ни был размер малой терапевтической группы, модель трех дает ей базовую эмоциональную структуру.
                b.articles__item-link Читать

            // 16
            a.articles__item(href="Prepyatstviya-problemy-i-preimushestva-gruppovoj-psihoterapii-onlajn.html")
                h2.articles__item-title.font-decor Препятствия, проблемы и преимущества групповой психотерапии онлайн
                .articles__item-text
                    p Хотя он-лайн консультирование не является чем-то новым, пандемия COVID-19 резко активизировала и узаконила ее, особенно в области групповой терапии. Групповые терапевты были вынуждены перейти в пространство онлайна, не имея достаточной подготовки и опыта по ведению онлайн-групп. Группы онлайн - это не то же самое, что личные встречи, и в них возникают специфические препятствия и проблемы, которые необходимо либо чем-то компенсировать, либо признать как потери.
                b.articles__item-link Читать

            // 17
            a.articles__item(href="Rabota-snovidenii-v-gruppe-pod-redakciei-Kladio-Neri-Robi-Fridmana-i-Malkoln-Pains.html")
                h2.articles__item-title.font-decor Работа сновидений в группе под редакцией Кладио Нери, Роби Фридмана и Малкольн Пайнс
                .articles__item-text
                    p Групповые аналитики знают об универсальном, всепроникающем, мощном влиянии контекста и обстановки. Все, что переживается, говорится, принимается во внимание или игнорируется, имеет значимые связи с ситуацией, как в «здесь и сейчас», так и в резонансе с «там и тогда». Таким образом, запомненный сон - принесенный в группу, объясненный, проигнорированный, связанный с чем-то, усиленный, интерпретированный - принадлежит групповому контексту.
                b.articles__item-link Читать

            // 18
            a.articles__item(href="pochemu-ljudi-predpochitajut-individual'nuju-a-ne-gruppovuju-terapiju.html")
                h2.articles__item-title.font-decor Почему люди предпочитают индивидуальную, а не групповую терапию?
                .articles__item-text
                    p В исследовании приняли участие 224 студента университета. Мы попросили их отметить по 7-балльной шкале свои предпочтения в пользу индивидуальной или групповой терапии и добавить по пять аргументов в пользу и против каждого вида терапии. Результаты подтвердили тенденцию к предпочтению индивидуальной терапии над групповой, с незначительным гендерным или этническим эффектом.
                b.articles__item-link Читать

            // 19
            a.articles__item(href="Vozmozhnosti-gruppovoj-psihoanaliticheskoj-raboty-s-chuvstvami-styda-i-viny.html")
                h2.articles__item-title.font-decor Возможности групповой психоаналитической работы с чувствами стыда и вины
                .articles__item-text
                    p Бумажные люди, ожидающие места, где они смогут жить и действовать
                b.articles__item-link Читать



        nav.articles__nav
            button.articles__nav-prev
            button.articles__nav-item.active(data-page="1") 1
            button.articles__nav-item(data-page="2") 2
            button.articles__nav-next