.articles

  &__list
    display: grid
    grid-template-columns: repeat(2, 1fr)
    gap: 40px
    @include tablet
      grid-template-columns: 1fr

  &__item
    background-color: $color
    border-radius: 20px
    padding: 30px 30px 60px
    color: $color-dark
    display: flex
    flex-direction: column
    gap: 30px
    @include tablet
      gap: 20px
      padding: 20px 20px 40px
    &:hover .articles__item-link::after
      width: 100%
      left: 0


    &-title
      @include fontSize(32, 40)

    &-text
      color: rgba($color-dark, 0.7)
      @include fontSize(16, 20)
      padding-bottom: 20px
      border-bottom: 1px solid currentColor


    &-link
      display: inline-block
      position: relative
      text-align: center
      text-transform: uppercase
      margin: auto

      &:after
        content: ""
        position: absolute
        display: block
        bottom: 0
        height: 2px
        left: 50%
        background: none repeat scroll 0 0 transparent
        background: currentColor
        transition: width 0.3s ease 0s, left 0.3s ease 0s
        width: 0
