.article

  &__container.aside-row
    display: flex
    flex-direction: column
    gap: 40px
    @include tablet
      gap: 30px

  &__aside
    display: flex
    flex-direction: column
    gap: 20px
    @include mobile
      width: auto
    & + p
      margin-top: 30px
    &.left
      margin: 0 40px 40px 0
      float: left
      width: 50%
      @include mobile
        margin: 0 0 30px
        float: initial
        width: auto
    &.right
      margin: 0 0 40px 40px
      float: right
      width: 50%
      @include mobile
        margin: 0 0 30px
        float: initial
        width: auto
    & > p
      text-indent: initial !important

    &-subtitle
      line-height: 1.2
      @include fontSize(14, 20)
      opacity: 0.7
      text-align: left !important

    &-img img
      position: relative
      z-index: 1
      @include mobile
        margin: 0 auto
    &-img.border
      img
        border: 1px solid $color-dark
        border-radius: 20px
        @include mobile
          aspect-ratio: 3 / 2
          width: 100%
          max-width: 500px
          height: 100%


  p
    @include fontSize(16, 24)
    line-height: 1.4
    text-align: justify
    text-indent: 30px
  p + p
    margin-top: 24px
    @include tablet
      margin-top: 16px
  p + .article__aside
    margin-top: 24px
    @include tablet
      margin-top: 16px

  &__italic-bold
    display: flex
    flex-direction: column
    gap: 30px
    font-weight: 600
    font-style: italic
    border-top: 1px solid $bg
    border-bottom: 1px solid $bg
    padding: 30px
    margin-top: 30px
    letter-spacing: 1px
    @include fontSize(14, 24)
    @include mobile
      padding: 20px
      margin-top: 20px
      gap: 20px
    *
      font-weight: inherit
    &-item
      display: flex
      flex-direction: column
      gap: 16px
      @include mobile
        gap: 8px
      ol, ul
        display: flex
        flex-direction: column
        gap: 16px
        padding-left: 24px
        @include mobile
          gap: 8px
          padding-left: 16px
      &:not(:last-child)
        border-bottom: 1px solid $bg
        padding-bottom: 30px
        @include mobile
          padding-bottom: 20px
    & + p
      margin-top: 24px

  &__cite
    display: flex
    flex-direction: column
    gap: 16px
    padding: 30px
    font-weight: 500
    color: $bg
    letter-spacing: 1px
    border-top: 1px solid $color-dark
    margin-top: 16px
    @include mobile
      padding: 20px
    a:hover
      text-decoration: underline
    ul
      display: flex
      flex-direction: column
      gap: 16px
      padding-left: 20px
      li
        list-style-type: disc


  &__aside.row
    display: grid
    grid-template-columns: repeat(2, 1fr)
    line-height: 1.4
    gap: 40px
    p, span
      text-align: justify
    @include tablet
      grid-template-columns: 1fr
      gap: 30px
    .article__aside-text
      display: flex
      flex-direction: column
      gap: 20px
    &.img-left
      .article__aside
        &-img
          order: -1
    ul, ol
      display: flex
      flex-direction: column
      gap: 16px
      padding-left: 20px
    ul li
      list-style-type: disc

  &__item
    display: flex
    flex-direction: column
    gap: 30px
    @include fontSize(16, 24)
    @include tablet
      gap: 20px
    P + p
      margin-top: 0
    p, span
      text-align: justify

    &-list
      display: flex
      flex-direction: column
      padding-left: 24px
      gap: 20px
      @include tablet
        gap: 16px
        padding-left: 16px

  &__author
    line-height: 1.2
    @include fontSize(14, 20)
    opacity: 0.7
    text-align: left
    text-wrap: balance

  .order-1
    @include tablet
      order: -1


  p:has(b.mt)
    @media (min-width: $width-mobile)
      margin-top: 56px
