section.article
    .article__container.container

        a.article__back.button-light.button-light--arrow(href="materialy.html") Все статьи

        h1.title-article Историческое в индивидуальном: концептуализация психической и коллективной травмы во французском психоанализе
        .article__header
            p.article__short Данная статья рассматривает историю развития представлений о психической травме. Автор рассматривает взгляды современных французских психоаналитиков, таких как Рене Каэс, Франсуаза Давуан и Жан-Макс Годийер на коллективную травму и проявление исторического коллективного опыта в индивидуальной истории.
            p.article__keywords Ключевые слова: коллективная травма, травматический опыт, историческое событие, психический аппарат.

        .article__body
            p Психическая травма, как научный объект, имеет довольно динамичную историю. С начала XX века концепция травмы претерпела своего рода революцию. Исследования травм во всем мире неисчислимые и становятся все более сложными и многомерными.
            p Широкое распространение и популярность терминов «травма» и «травматизм» привели к путанице в их употреблении. Мы ставим перед собой цель проследить эволюцию термина травмы и рассмотреть современные теории травмы и травматического, делая акцент на их концептуализации во французском психоанализе.
            p Согласно современной французской психодинамической теории травмы, в клинической картине психологической травмы нужно различать два различных уровня: уровень посттравматических симптомов и уровень травматического развития личности. Отсутствие фильтрации стимулов, потеря интереса к прежним занятиям и эмоциональная замкнутость на самом деле являются лишь выражением этого изменения личности после травмирующего события. Вместо того чтобы сосредотачиваться на биологических, поведенческих и когнитивных аспектах психологической травмы, французские авторы сосредотачиваются на феноменологическом разнообразии и скрытом значении симптомов травмы. Субъективный аспект диагноза травмы, в котором раскрывается значение события для личности, представляется очень важным, так что восстановление после травмы не должно сводиться только к уменьшению симптомов или снижению интенсивности травмы.

            .article__blockquote.blockquote.blockquote--primary
                .blockquote__body
                    blockquote Французские психодинамические теории травмы не только дают возможность лучше понимать рассказы людей, переживших травму, но и предлагают идеи, позволяющие выйти за рамки описательного подхода к психической травме, преобладающего в литературе.

            p Предметом интереса французских авторов являются как индивидуальные, так и коллективные
                | травмы. Р. Каэс, известный французский психоаналитик, говорит о том, что вопрос коллективной
                | травмы связан, в первую очередь, с государством, которое нарушает права субъекта, субъект
                | инкорпорирует это отношение государства к себе, что и становится причиной травматического
                | взлома психического аппарата, поскольку то, что происходит, относится к другому порядку – не
                | внутрипсихическому, а политическому и идеологическому. Р. Каэс уточняет, что травматизм,
                | который был получен в результате социальных катастроф, нельзя рассматривать в той причинно-
                | следственной связи, которую предлагал З. Фрейд в своей теории травмы, иначе мы лишаем субъекта
                | его связи с историей, с реальностью, в которой происходило это событие, что равносильно действию
                | поддержания отрицания травмы. Р. Каэс также пишет: «что является жизненно необходимым, так это
                | рассказ множества голосов и для множества слушателей, рассказ жертв катастроф и рассказ на глазах
                | у свидетелей и для тех, кто эту катастрофу не переживал» (Kaës, 2007).

            p Похожую мысль высказывают Ф. Давуан и Ж.М. Годийер, французские психоаналитики и оциальные исследователи: <br>
                | #[i «нет шансов выйти из своего убежища, если другой не придет его искать».]

                | Именно присутствие Другого позволяет справиться со
                | страданием, которое невозможно репрезентировать. Ф. Давуан и Ж.М. Годийер также говорят о
                | способности субъекта откликаться на опыт травмы другого, который сам носитель травмы не может
                | выразить в слове, не может помыслить, поскольку травматическое событие всегда окружено ореолом молчания.

            .article__blockquote.blockquote.blockquote--primary
                .blockquote__body
                    blockquote Именно отклик Другого позволяет заполнить дыры и провалы в памяти. Ф. Давуан и Ж.М.
                        | Годийер пишут, что именно резонанс события с собственным опытом терапевта дает пациенту
                        | ощущение, что его слышат, и этот резонанс (что не является синонимом контрпереноса) можно
                        | рассматривать как загадочного Двойника Другого.

            p Заметим, что в работах Ф. Давуан именно связь с
                | историческими процессами имеет решающее значение, потому что лишь в этом случае возможно
                | объяснение, не редуцирующее сложные исторические силы и процессы к семейной истории.
                | Прошлое присутствует в настоящем и не может быть проработано до тех пор, пока снова не будет
                | создана социальная связь, разорванная при травмирующем историческом событии. Идея неразрывности воплощенного, индивидуального и исторического опыта, размышления о том, как
                | исторические события проявляются в материальном, реальном опыте составляет ядро подхода Ф. Давуан и Ж.М. Годийера.

            .article__blockquote.blockquote.blockquote--primary
                blockquote Актуальным для исследований травмы – как индивидуальной, так и коллективной – остается
                    | прояснение терминологии, закрепление за термином «травма» более определенного смысла:
                    | столкновение с непостижимым, непредставимым, что приводит к дезинтеграции личности,
                    | разрушению связей между различными уровнями ее бытия.

            p Было бы целесообразно интегрировать различные подходы в более целостный взгляд на травму и устранить разрыв между количественным (эмпирическим) подходом к травме, с одной стороны, и более качественными (клиническими) интерпретациями, с другой.


        .article__bibliography
            h2.article__bibliography-title.title-section Список литературы

            ul.article__bibliography-list
                li
                    cite Erik de Soir.
                    p The concept of psychological trauma in psychodynamic French theory: From metaphor to clinical usefulness. European Journal of Trauma & Dissociation, 2018.

                li
                    cite Davoine, F. and Gaudillière, J.-M.
                    p History Beyond Trauma. New York: Other Press, 2004.

                li
                    cite Kaës René.
                    p Un singulier Pluriel. La psychanalyse à l'épreuve du groupe, 2007.