section.article.light-block
    .article__container.container

        aside.article__aside.left
            h2.title-section.decor-line.decor-line--dark Истоки групп-анализа
            p.article__aside-subtitle Метод возник благодаря работам Фоулкса в Нортфилдской больнице в Лондоне в 1940-е годы во время Второй мировой войны.
            .article__aside-img
                img(src='./assets/img/articles/article-6-1.png' alt="pic")

        p Групп-анализ появился благодаря работам Фоулкса в Нортфилдской больнице в Лондоне в 1940-х годах во время Второй мировой войны.
        p Его концепции были модифицированы Кортесао. Чтобы говорить о групп-анализе, необходимо определить его специфику и уточнить понятия, которые его поддерживают.
        p Групп-анализ концептуализируется и описывается как способ исследования и терапии, основанный на психоаналитической теории; однако он работает с дифференцированными процедурами, которые связаны с новым окружением, группой, а также с теорией и техникой групп-анализа. Целью групп-анализа является проработка устойчивой структуры переноса, что позволяет отличить его от групповой психотерапии, основанной на психоаналитической теории.
        p Кортесао определяет групповой аналитический процесс как «способ, с помощью которого несколько теоретических и практических измерений, способствующих последовательности и форме групповой аналитической терапии, оформляются, организуются и выполняют свою функцию».
        p После того как конкретные понятия структурированы и организованы, они пересекаются друг с другом для выполнения практики. Терапевтический процесс осуществляется в процессе взаимодействия между групповой матрицей и групповым аналитическим паттерном. Паттерн постепенно интегрируется в динамическую матрицу, как говорит Анкона. Мы можем считать, что существует экзогенный паттерн, который зависит от личности групп-аналитика, включая его характер, семейную матрицу и культурные аспекты, которые функционируют как семя или катализатор. Существует также эндогенный паттерн, который самогенерируется матрицей под действием экзогенного паттерна.

        aside.article__aside.right
            h2.title-section.decor-line.decor-line--dark Матрица
            .article__aside-img
                img(src='./assets/img/articles/article-6-2.png' alt="pic")

        p Фоулкс определил матрицу как «гипотетическая сеть коммуникаций и отношений в данной группе. Это установленная общая сцена, которая в конечном итоге определяет смысл и значение всех событий, а также объединяет все коммуникации и интерпретации: вербальные иневербальные».
        p Позже Кортесао определил групповую аналитическую матрицу как: «это особая сеть коммуникаций, отношений и проработки, которая, интегрируя групповой аналитический паттерн, способствует развитию группового аналитического процесса в рамках основополагающих теоретических и технических измерений».
        p Как предполагается, это динамический процесс, который одновременно приводит и обусловливает взаимодействия и взаимосвязи между различными элементами, что может привести к формированию и модификации внутренней реляционной матрицы каждого из них.
        p Однако для лучшего понимания важности группы и групповой аналитической матрицы в терапевтическом процессе просто вспомните, что с момента рождения и до самой смерти мы почти всегда находимся в группе.
        p Будь то семейная группа, школьная группа, группа друзей, спортивная группа, профессиональная группа или любая другая, и любая из этих групп имеет свою специфическую матрицу, которая влияет на того, кто в ней находится.
        p Мы также легко соглашаемся с тем, что из всех этих групп наиболее важной является семья, поскольку это наша первая группа, которая оказывает большее влияние на процесс нашего развития.
        p Мы понимаем процесс развития как приобретение структур и динамических способов мышления, чувств и отношений друг с другом, в которые встроены защитные механизмы, конфликты, желания, страхи, осознанные или неосознанные нами.
        p Именно с этой фундаментально приобретенной формой отношений, названной внутренней реляционной матрицей (которая может быть более или менее подходящей, или неподходящей для среды, в которой мы живем), мы будем действовать в группе, то есть в динамике ее отношений, коммуникации и развития, которые составляют ее групповую матрицу и где анализируемая группа, через процесс регрессии, переноса и последующих групповых аналитических интерпретаций, запускает свой процесс групповой аналитической трансформации.


        cite.article__cite
            span Group Analysis: Other Sights of the Conscious and the Unconscious
            span Abreu-Afonso José
            span Перевод: Барке Ксения