section.article
    .article__container.container

        a.article__back.button-light.button-light--arrow(href="materialy.html") Все статьи

        h1.title-article Отклик травматического: восстановление социальной связи в контрпереносе
        .article__header
            p.article__keywords Ключевые слова: травма, перенос, аффект, исторические события, постпамять, трансгенерационная передача, бессознательное, травматическое.

        .article__body
            p.medium-italic Различные теории травмы и трансгенерационной передачи травматического опыта позволили получить обширное количество ценных клинических знаний, что в конечном итоге привело к появлению ряда эмпирически обоснованных подходов к диагностике и лечению пациентов, переживших травму. Ограничения, наблюдаемые в этих подходах, побудили некоторых исследователей и клиницистов, ориентированных на работу с психической травмой, изучить роль не только симптомов, и важности работы с ними, но и необходимость включить анализ психоаналитических отношений «пациент-психоаналитик» как ключевой элемент в психоаналитическом лечении. И речь идет не про школу объектных отношений, а про нахождение отклика бессознательного аффекта в психике другого. На наш взгляд, изучение переноса и контрпереноса является основой современной теории передачи психической травмы, хотя и в настоящее время исследования и клинические вмешательства, касающиеся психической травмы, в значительной степени оторваны от представлений современной теории контрпереноса и переноса в психоа- налитической работе.
            p.medium-italic В данной статье предлагается расширенное понимание психоаналитических отношений «аналитикпациент» с учетом исторического контекста. В статье также предпринимается попытка акцентировать внимание на необходимости рассматривать психоаналитическую работу с последствиями психической травмы с точки зрения диады «психоаналитик – пациент» и психоаналитических отношений, и рассматривается значимость для работы с психической травмой (как индивидуальной, так и коллективной) анализа переноса и контрпереноса, возникающих в ходе психоаналитического лечения.


            .article-col-1
                .note.float-right Психическая травма представляет собой широкий комплекс внутрипсихических, когнитивных, поведенческих, эмоциональных, социально-аффективных и экзистенциальных нарушений, взаимосвязанных и переплетенных между собой.
                p Накопление открытий и научных данных в исследовании травмы позволяет окончательно определить объект исследования, а именно что психическая травма – широкий комплекс внутрипсихических, когнитивных, поведенческих, эмоциональных, социально-аффективных и экзистенциальных нарушений, взаимосвязанных и переплетенных между собой.
                p Все большее число психоаналитиков пытаются объяснить, как масштабные
                    | травмы, сталкивающиеся с психикой извне, вызывают состояние
                    | шока и нарушают отношения субъекта со временем, разрушая защитные
                    | барьеры. По мнению Андре Грина, эти ужасающие события
                    | могут заставить внутреннее психическое пространство и внешнее пространство
                    | событий взаимодействовать таким образом, что психический
                    | аппарат перестает «выполнять свою функцию контейнера» (Green, 1999,
                    | p. 155). Тогда мы видим то, что Клод Жанин называет «коллапсом» внутренней
                    | топологии, приводящим к потере чувства реальности и нормального
                    | хода событий (Janin, 1996). Сезар и Сара Ботелла (Botella and Botella,
                    | 1988, p. 1466) предложили модель, в которой «травма должна пониматься
                    | негативно: резкое и насильственное отсутствие топологии и динамики,
                    | которое разрушает первичный и вторичный процесс».

                p В последние годы другие авторы, например Винар (Vinar, 2005), подчеркивают связь между общественной сферой и личным пространством,
                    | с одной стороны, и семейными и историческими травмами, которые «сопротивляются» работе горя (Volkan, 1972) или остаются несимволизированными, и бессознательными психическими трудностями – с другой
                    | стороны. Каждый из этих авторов, а также Болебер (Bohleber, 2007) посвоему подчеркивают влияние истории на субъект и индивидуальную и
                    | бессознательную передачу коллективных травм. С другой стороны, это
                    | показали Леви (Levy, 2010) и Зальцман (Zaltzman, 1998), в чьих более поздних работах рассматривается вопрос о концентрационных лагерях и ужасах геноцида. Эти авторы утверждают, что психоаналитическое лечение
                    | должно включать в себя работу, которая учитывает уникальность человеческой психики и одновременно обращает внимание на то, что происходит исторически. Такая работа ведется как на индивидуальном, так и на
                    | коллективном уровне, при этом не игнорируется даже то значение слов,
                    | когда речь приостановлена или замолчана. Айерман (Айерман, 2016, с. 3)
                    | в связи с этим в работе «Культурная травма и коллективная память» пишет: «…средства и способы репрезентации… стирают границу между от-
                    | дельными людьми и ликвидируют разрыв между происшествием и воспоминанием о нем».

                .note.float-left Как мы знаем, развитие психики невозможно без участия другого субъекта, так же как и развитие речи невозможно без Другого.

                p Когда происходит травма, психическая или физическая, первая реакция на произошедшее часто выражается в сбивчивой речи либо во временной потере спо-
                    | собности говорить или выговаривать слова. Когда происходит «взлом»
                    | психики, складываются новые, другие, специфические отношения с речью и языком. Травма, с одной стороны, как событие локализована во
                    | времени (во временном промежутке), с другой стороны, она процессуальна, так как продолжает оставлять свой след на будущих поколениях.
                    | Травма является тем, что/кто диктует повествование истории, и биография и идентичность покоряются травме в ходе этой истории.

                p У травмы нет своего языка, потому что опыт травмы – немыслимый и
                    | невозможен к осмыслению, и тогда психика вынуждена использовать те
                    | средства, которые есть в ней самой, и перед нами встает задача распознать, увидеть язык, на котором «говорит» травма, и какие репрезентации
                    | травма использует, чтобы заявить о себе; найти способы, посредством которых
                    | травма ищет способы интерпретироваться, «уместиться» в психике посредством репрезентаций.


                .note.float-right Долорес Эрреро и Соня Баэло-Аллуэ концептуализируют травму как
                    | «открытую и неразрешимую», утверждая, что мы никогда не должны
                    | думать о травме как о «стабильном и неподвижном понятии».

                p Эрнст ван Альфен объясняет, что проблема травмы – это не природа
                    | события, не внутреннее ограничение представления; скорее это раскол
                    | между живым событием и доступными формами репрезентации, с которыми / в которых может происходить событие (van Alphen, 1997).

                p Именно благодаря Фрейду и Лакану мы понимаем, что у травмы нет
                    | своего собственного языка и субъект, переживший травму, вынужден использовать те речевые конструкции, которые есть у него в арсенале; но
                    | эти конструкции не позволяют и не способны в полной мере отразить
                    | травмирующий опыт. У травмы нет возможности быть вербализированной, и тогда за травму говорят вещи – например, фотографии, какие-либо
                    | артефакты. Когда человек рассказывает свой биографический нарратив,
                    | это предполагает преобразование болезненного содержания травмы в
                    | символ, в речь, и таким образом возникает перспектива преодоления влияния травмы на психику.

                p В психиатрической и психоаналитической литературе почти каждое
                    | диагностическое образование этиологически связывается с травмой.
                    | Последствия травматического опыта не всегда легко понять. Но травматический опыт очень часто повторяется субъектом для того, чтобы овладеть им. Эта рекапитуляция может привести не к абреакции и ассимиляции, а к фиксации травмы, в которой доминирует компульсия повторения.
                    | Если же мы говорим про отрицание, то у жертв холокоста именно механизм отрицания позволил адаптироваться к чрезвычайно травмирующим
                    | условиям. Фрейд рассматривает отрицание как защиту, которая «позволяет системе, функционирующей по принципу удовольствия, отключиться
                    | от стимулов реальности» (Freud, 1964).

                p Фрейд помогает нам осознать различие между объективным историографическим фактом,
                    | который неизбежно подавляет множество перспектив, и личным опытом историчности, который разворачивается как множество перспектив. В своей поздней работе «Моисей и монотеизм» Фрейд,
                    | противопоставляя традицию и историю, подчеркивает это различие для
                    | понимания как индивида, так и сообщества (Freud, 1964). История, так
                    | называемое объективное повествование о прошлом в письменной форме,
                    | по мнению Фрейда, содержит «искажающие влияния» стремления конкретизировать прошлое и как таковое менее соответствует жизни, чем
                    |традиция, в которой подавленные воспоминания переносятся в будущее
                    |и всплывают или исчезают из общественного сознания в изменчивом взаимодействии с прошлым, которое трансформируется с течением времени
                    |и сменами поколений.

                .note.float-left Память и забывание всегда действуют в одном и том же жесте, направленном на
                    | ассимиляцию разрозненных смыслов и событий; прошлое и
                    | настоящее взаимно влияют друг на друга таким образом, что текущие события влияют на прошлое и определяют его, даже в потоке знаковости,
                    | который опирается на прошлый опыт, чтобы интегрировать текущие события в память.

                p По словам Кэти Карут, травма проявляется «в том, что сама ее неас-
                    | симилированная природа – то есть то, что она не была известна в первый момент, – возвращается, чтобы преследовать выжившего впоследствии» (Caruth, 1996, p. 4). В связи с этим Бистоен, Ванхейле и Крэпс
                    | заявляют: «Травма может быть понята как неспособность "закрыть или завершить событие" и, таким образом, проявляется как повторяющийся вопрос, ожидающий завершения, способного вписать его в исторический
                    | нарратив субъекта» (Bistoen, Vanheule, Craps, 2014, p. 678).

                p Дженифер Гаммаж пишет о том, что травму нельзя просто принять, ин-
                    | терпретировать, аргументировать и убрать в архив; заявляя о себе, травма
                    | одновременно и бросает вызов, и требует свидетельства. Именно через
                    | сложные аналитические отношения переноса травма впервые обретает
                    | выражение и смысл и тем самым открывает новую историю, отрицаемую
                    | по меньшей мере дважды – сначала в начальном латентном периоде, а затем
                    | через симптоматические повторения, пытающиеся донести невообразимую
                    | трагедию до выражения и понимания в историческом контексте,
                    | который отрицает их, хотя бы для того, чтобы спасти свою собственную
                    | жизнь (Gammage, 2016, р. 407).

                .note.float-right Давуан и Годийер ставят аналитику задачу привести травматическую
                    | историю к выражению и признать: травма не происходит в социальном
                    | вакууме, и с ней нельзя столкнуться в одиночку.

                p Работа Давуан и Годийера в книге «История вне травмы» крайне
                    | важна, поскольку она подчеркивает роль аналитика в свидетельствовании травматической памяти, которая дискурсивно запрещалась для вхождения в историю, и предлагает путь, по которому перенос может преодолеть герменевтический разрыв, оставшийся после травмы, признавая
                    | социальную природу травматической истории. Авторы утверждают, что
                    | мы не можем разделить травму и безумие, не потеряв при этом важный
                    | аспект травматического опыта – тот факт, что ужасным воспоминаниям, о
                    | которых свидетельствует травма, регулярно отказывают в месте в коллективной истории и они остаются в маргинальном пространстве безумия.
                    | Они пишут: «[Травматическое] безумие требует изменения собеседника,
                    | на которого оно обрушивается и которого оно заставляет падать вместе
                    | с его симптомами. Оно отправляется на поиски отголоска в этом невероятном другом того, что официальная история маргинализировала или
                    | тривиализировала» (Davoine, Gaudilliè re, 2004, p. 11).
                    | Вместо того чтобы рассматривать неврозы как повторение эмоциональной разрядки, Давуан
                    | и Годийер предлагают аналитику признать травматические повторения
                    | как «заикания своей истории», которые еще не нашли своего места в
                    | нормативных социальных дискурсах (Davoine, Gaudilliè re, 2004, p. 164).
                    | Однако этот процесс требует изменений не только от пациентов, но и от
                    | аналитиков, поскольку от них требуется пересмотреть свои собственные
                    | представления об истории, включив в них те ужасные события, о которых
                    | сообщают травматические воспоминания; таким образом, анализ становится
                    | свидетелем истории ужаса. Создавая общую историю через перенос,
                    | аналитик и пациент тем самым рождают новую историю, в которой
                    | травматическое прошлое может стать значимым и войти в герменевтический
                    | порядок интерпретативного дискурсивного поля.

                p Келли Оливер в книге «Свидетельствование: за гранью узнаваемости»
                    | напоминает нам: мы обязаны оставаться открытыми для свидетельства
                    | других, даже и, возможно, особенно когда мы не в состоянии понять их
                    | боль. Оливер также пишет, что в мире, где мы признаем, что «если реальность можно купить и продать, если отдельные люди или группы людей
                    | могут быть лишены права на саму реальность, мы обязаны реагировать
                    | на реальность или реальность опыта другого человека, несмотря на то,
                    | что мы можем не понимать его» (Oliver, 2001, p. 107). Оливер опирается
                    | на примеры институционального, исторического насилия, чтобы проил-
                    | люстрировать нормативную работу исторического забвения, которая отказывает в свидетельстве тем голосам, которые находятся на периферии
                    | истории. «Вместо того чтобы отрицать или забывать прошлое, – призыват она, – мы должны постоянно переосмысливать его», чтобы стать сви-
                    | детелями других способов видения и страдания (Oliver, 2001, p. 131).

                p Благодаря размышлениям Гаммаж и Оливер мы понимаем, что фрейдовское
                    | описание латентности травматического опыта позволяет нам получить
                    | возможность осмыслить нашу ответственность перед пережившими
                    | травму в терминах совместного проекта по переписыванию прошлого
                    | через открытие новых социально-исторических нарративов – историй,
                    | которые, возможно, не являются нашими собственными, но которые тем
                    | не менее мы должны написать.

                p Здесь мы хотели бы показать идею Давуан о том, что «травма говорит
                    | только с травмой. И фрагменты вырезанной Истории могут быть выговорены
                    | лишь тогда, когда в самом аналитике будет активирована аналогичная
                    | область; в этот момент психоаналитик и может осуществить полный
                    | перенос, открыто придав такому столкновению форму слов».

                .note.float-left Языком, который выбрала для себя травма, является бессознательный аффект, передающийся
                    | от психики к психике и который не обусловлен исключительно
                    | семейным родством (Барке, 2023).

                p Далее мы постараемся проиллюстрировать
                    | на примерах работ аналитиков с пациентами, которые чувствовали, как в переносе и контрпереносе происходит передача бессознательного
                    | аффекта, момент узнавания Другого, который был необходим для работы
                    | с последствием травмы. Это общее поле, которое Огден называл «аналитическим
                    | другим» и которое является чем-то большим, чем пара «психоаналитик
                    | – пациент» (Ogden, 1994).

                p Также Уолкердайн задается вопросом: что посылает аналитика или исследователя на определенный исторический путь? Она пишет: «Важно то,
                    | что история дает возможность выйти за рамки двухмерного мышления, в котором представлены сложные и разрушительные отношения...
                    | Для Давуана возможность символизировать событие позволяет мышлению стать трехмерным, вывести его с рискованной арены разрывов в
                    | двухмерном отношении к трехмерному пространству договора. Аналитик
                    | и пациент формируют альянс с историей – историей, которая охватывает
                    | пациента, так, что теперь пациент знает путь, с помощью которого можно осмыслить».

                .note.float-right То, что передается, передается через
                    | тела и, как мы пытались предположить, в аффектах, пожеланиях, желаниях, воспитании детей, гендерных и сексуальных практиках, способах
                    | и фантазиях о мужественности и женственности. Таким образом, то, что
                    | передается, оседает в культурных практиках (Уолкердайн, 2013, р. 289).

                p Карут пишет о том, что травма – «это всегда история раны, которая
                    | кричит, обращается к нам в попытках рассказать о реальности или истине», и этот голос раны передается бессознательно через различные тексты (Caruth, 1996, p. 17). Вслушивание в эти тексты становится решаю-
                    | щим в «пробуждении», о котором пишет Карут: пробуждение как то, что
                    | возобновит нормальное течение внутреннего времени и хода событий.

                p Моор утверждал, что травмированный субъект не может знать, что произошло
                    | травматическое событие, пока Другой не предоставит ему нарратив.
                    | Человек может знать свою историю только тогда, когда он рассказывает
                    | ее «внутреннему другому» (Moore, 2005, p. 56).

                p Далее мы попытаемся проиллюстрировать идею потребности в Другом,
                    | который откликнется и «даст голос» травме, двумя примерами работ известных психоаналитиков, которые описывают случаи работы с пациентами,
                    | делая акцент на психоаналитических отношениях и переносе и контр переносе.


                p Психоаналитик Стюарт в своей статье под названием «Trauma et réalité psychique» описывает случай из практики с пациенткой,
                    | которая проходила у него анализ в течение нескольких лет, и этот случай он приводит
                    | в контексте демонстрации типов защитной адаптации к прошлому травматическому опыту. Стюарт, рассказывая о пациентке, пишет, что до пер-
                    | вой их встречи в кабинете не был с ней знаком, но она была известным
                    | ученым и ее имя часто бывало в СМИ. Когда он впервые ее увидел, перед ним была миниатюрная женщина лет 45, больше похожая на практич-
                    | ную мать большего семейства, чем на известного ученого. Эта пациентка выразила свою твердую готовность начать свой личный анализ именно с ним. Стюарт был удивлен этим, так как не считал себя очень известным аналитиком, но позже пациентка рассказала, что она прочитала его
                    | статью, в которой он рассказывал о своих переживаниях в годы пребывания в концентрационном лагере (Stewart, 1991, p.&nbsp;967).

                .blockquote.blockquote--primary.article__blockquote
                    .blockquote__body
                        blockquote «Мне было приятно узнать, что во Франции есть психоаналитик, который не француз и не еврей и который был одним из немногих выживших в концлагере», – сказала Эстер. <br>

                .note.float-right "Не еврей?" – переспросил я. <br> Эстер протянула левую руку, и я увидел номер, который был вытатуирован на ней во время ее собственного пребывания в концлагере (Stewart, 1991, p.&nbsp;968)».


                p Через какое-то время пациентка сообщила истинную причину ее обращения к аналитику – она боялась потерять память. С каждым годом ее состояние ухудшалось, и она больше не могла работать и функционировать, не используя постоянно маленькие блокноты для записи, куда записывала детали, чтобы не забыть.
                p Стюарт пишет, что во время первых сеансов анализа он был пойман в ловушку ее отличной памятью на различные перемещения из одного лагеря в другой; на отчаянные попытки ее матери удержать трех членов семьи вместе; на детали ужасного страха, который грыз ее; о жестокости их мучителей и муках голода (Stewart, 1991, p. 969).
                p Вот что пишет Стюарт: «Но в те первые два года анализа я пытался услышать не то, что помнила Эстер, а скорее те моменты, когда острота ее памяти, казалось, заслоняла другие, еще более болезненные воспоминания. Не то чтобы это были экранные воспоминания в том смысле, который придавал этому термину Фрейд, но я чувствовал, что сама их интенсивность заслоняет факты, которые слишком невыносимы, чтобы всплыть на поверхность, воспоминания, которые грозили в любой момент появиться и захлестнуть ее сознание» (Stewart, 1991, p. 971).
                p Пациентка через некоторое время была убеждена, что ее выбор аналитика был катастрофическим, самым худшим из всех, что она могла сделать. Ее аналитик сам впал в депрессию и был склонен согласиться с ней в этом вопросе.

                p Стюарт пишет: «Примерно в это время я проснулся однажды ночью от сна, в котором мне приснились фрагменты реального происшествия, случившегося во время моего собственного пребывания в концентрационных лагерях. Инцидент произошел следующим образом. Мы находились в Маньчжурии в середине зимы. В ту зиму сотни заключенных умерли от диареи и дизентерии. Мы были полузамерзшие и голодные. Я едва мог ходить, так как голова кружилась от голода. Однажды вечером нам выдали наш скудный паек: небольшую горсть теплого риса, кишащего личинками. Один мужчина, мой сосед, получил свой паек в старой ржавой же-
                    | стяной коробке; затем он упал обратно на свою циновку, слишком слабый даже для того, чтобы есть. Другой человек, который был его лучшим другом, подполз к нему. Глаза умирающего были широко открыты. Он был еще в сознании. Его друг сел рядом с ним и стал ждать, когда
                    | он умрет. Через некоторое время он больше не мог ждать. Он наклонился, отцепил пальцы умирающего от жестяной коробки, проглотил
                    | крошечную порцию риса и уполз. Умирающий ни на секунду не отрывал
                    | глаз от лица своего друга. Многие из нас наблюдали за этой сценой без
                    | протеста. Мы были низведены до такого состояния. Нам было стыдно, и в то же время мы завидовали другому человеку за то, что он взял дополнительную порцию еды

                .note.float-left Я хотел бы показать, что бывают случаи, когда мы, психоаналитики, откладываем в сторону наши традиционные психоаналитические методы, потому что интуитивно чувствуем необъяснимую потребность пациента.

                p По очевидным причинам контрпереноса я размышлял в
                    | течение нескольких дней о том, чтобы вбросить в поток анализа моего
                    | пациента историю, взятую из моего собственного опыта. Такое разыгрывание всегда содержит элементы желания соблазнить пациента и
                    | может принести больше вреда, чем пользы. Тем не менее мой рассказ вызвал у Эстер взрыв воспоминаний, которые она до этого отчаянно пыталась подавить. Ее страх перед воспоминаниями разрушал ее память.


                p В конце концов она смогла вспомнить, что тайком ускользнула со своего места в движущейся очереди, поставив сестру на свое место, так
                    | что ее сестра и мать бок о бок шли в газовую камеру, оставив ее в живых. Это воспоминание наконец прорвало плотину и позволило всему, что
                    | она пыталась подавить, вырваться наружу.

                p Трудности выживания в лагере не оставили места и времени для траура. Как правило, человек проходит через траур, восстанавливая, укрепляя, трансформируя смысл отношений с потерянным человеком или
                    | людьми, а не отказываясь от них. #[b Травматическое состояние не позволяло ни размышлять, ни вербализировать.]

                p В процессе траура, который происходил сейчас, Эстер пыталась найти свое детство в нашей психоаналитической работе. Медленная реконструкция
                    | в аналитических рамках, вместе с отношениями переноса/контр переноса, помогла ей реинтегрировать некоторые диссоциированные и измененные представления о себе» (Stewart, 1991, p.&nbsp;974).


                p Здесь мы видим, как аналитик бессознательно чувствует потребность
                    | в слышащем «переводчике», в котором нуждается пациент, и видим, как
                    | пациент находит такого аналитика, который был бы способен активировать в себе ту часть, о которой пишет Давуан, часть, знающую, что такое
                    | травма; часть, способную разобрать «слова» травмы.


                p Схожую работу с переносом и контрпереносом описывает Давуан: она
                    | описывает случай с пациенткой, в ходе работы с которой благодаря анализу переноса пациентки и контрпереноса аналитика удалось осознать
                    | историческую правду семейной истории, которая до этого момента замалчивалась и скрывалась семьей пациентки. Благодаря анализу анали-
                    | тических отношений устанавливается новая связь, социальная связь, создающая возможность для совместного исследования аналитиком и паци-
                    | ентом того, что замалчивалось, не проговаривалось и из-за чего была разорвана эта связь.


                .note.float-right Используя теорию двойника, взятую из работы Арто (Artaud, 1958), Давуан утверждает, что некий аспект ее самой становится двойником, двойником, который резонирует с историей пациентки.


                p Самой Давуан это позволило стать ближе к пациентке, а историческая правда была разыграна здесь и сейчас во взаимодействии двух разумов.
                    | Следовательно, личная/историческая травма должна была быть пережита в переносе,
                    | прежде чем ее можно было вспомнить (Winnicott, 1974). Или, как сказал
                    | Арто, иногда сценарий должен быть исполнен, прежде чем текст станет
                    | известен.


                .note.float-left «Если в нашем анализе что-то и есть, то прошлое находится в настоящем и не может быть проработано до тех пор, пока вновь не будет создана социальная связь и не перезапущено время» (Walkerdine, 2013, р.&nbsp;280).

                p Более подробное описание данного случая можно найти в работе Давуан (Davoine, 2007) под названием «The character of madness in the talking cure», здесь же мы выделили ключевые моменты для нашего исследования.


                p Бесспорно, мы имеем очень мало материала о данном случае, о контрпереносе
                    | психоаналитика, о нюансах работы и многом другом. И мы можем
                    | увидеть, что данная историческая призма переноса и контрпереноса
                    | только начинает входить в поле исследования психоаналитиков. Но
                    | мы имеем яркий пример, яркий случай – фрагмент, описанный психоаналитиком
                    | в контексте его работы с человеком, имеющим травматический
                    | опыт и выжившим в концлагере. И именно эта пациентка, Эстер, как мы
                    | видим в описании случая, искала того, кто, как она чувствовала, может ее
                    | услышать. Она искала того Другого, кто мог бы откликнуться на ее аффект.
                    | Стюарт пишет о том, что он интуитивно чувствовал необъяснимую
                    | потребность Эстер, потребность в том, чтобы Другой услышал.

                p Эти размышления заставляют вернуться к работе Давуан и Годийера.
                    | В своей статье «История по ту сторону травмы», посвященной передаче психической травме, они пишут: «…мы понимали, что терапевтический процесс – с точки зрения переноса – ставит под вопрос нейтральность психоаналитика во время особых сеансов. Психоаналитический
                    | опыт продемонстрировал нам, что травма говорит только с травмой, и
                    | фрагменты вырезанной истории могу быть выговорены лишь тогда, когда в самом аналитике будет активирована аналогичная область; в этот мо-
                    | мент психоаналитик и может осуществить полный перенос, открыто придав такому столкновению форму слов» (Ушакин, 2000, с.&nbsp;134).

                p Мы предполагаем, в описанной работе Давуан и Стюарта нам встречается именно это – именно это «требование» отклика от Другого, и лишь
                    | благодаря возникновению этого отклика от психоаналитика происходит
                    | возобновление течения времени, то, о чем пишет Давуан: «…травма всегда останавливает бег времени, и суть анализа состоит в том, чтобы возобновить его течение» (Davoine, 2007).

                .note.float-right Сон или воспоминание, описанное Стюартом и рассказанное пациентке, является «продуктом» этого отклика, является продуктом бессознательного Эхо-аффекта.


                p Мы можем также назвать этот сон-воспоминание, приснившийся аналитику, ревери Биона (Bion, 1970) –
                    | процесс, трансформирующий сырые ощущения младенца в переносимые
                    | чувства, которые можно интроецировать, то есть то, что рождается в психоаналитике при встрече с пациентом.


                p Далее, мне хотелось бы вспомнить еще раз работу Уолкердайн, в которой она с коллегами пишет: «…очень важно понять, что это относится к
                    | событию, находящемуся в истории, и работа – перенести эту историю в
                    | настоящее, поняв, как она присутствует в "здесь и сейчас" аналитической
                    | сессии» (Walkerdine, 2013, р.&nbsp;288). Здесь мы может размышлять о том,
                    | что семейную историю мы не можем рассматривать в отрыве от Большой
                    | истории, от исторического опыта, в котором была «рождена» эта семейная история.
                    | И тогда задача, стоящая перед аналитиком, заключается также и в том, чтобы работать с тем, что воплощается пациентом «здесь и
                    | сейчас», на психоаналитической сессии, и попытаться понять, что может
                    | быть передаваемым событием, которое сейчас на сессии воплощает пациент.
                    | На наш взгляд, мы можем размышлять не только о трансгенерационной
                    | передаче травмы через поколения, но и размышлять также о том,
                    | как травматическое в психике пациента ищет «схожее» в Другом; схожее,
                    | которое способно помочь расшифровать тот самый «язык» травмы, о котором
                    | мы писали выше. И работа психоаналитиков Давуан и Стюарт – яркий тому пример.

                .note.float-left  Именно этот Другой необходим, чтобы дать голос тому, что ранее не имело голоса. Как будто Эхо бессознательного аффекта передается Другому в обход символического, оно в поисках того, кто «переведет» язык травмы.


                p Именно благодаря анализу психоаналитических отношений, переноса и контрпереноса, психоаналитическая работа позволила
                    | пациентам в тех примерах, которые мы рассмотрели в этой статье, восстановить разорванную социальную связь, воссоздать внутреннюю логику истории и заново запустить время.


        .article__podcast
            h2.article__podcast-title.title-section Подкаст по теме

            .article__podcast-item
                h3 Отклик травматического - Барке Ксения
                audio(controls)
                    source(src="./assets/files/otklik_travmaticheskogo-Barke_Kseniya.mp3")
                    p Ваш браузер не поддерживает встроенное аудио. Попробуйте
                        a(href="./assets/files/otklik_travmaticheskogo-Barke_Kseniya.mp3" download) скачать
                        | файл


        .article__bibliography
            h2.article__bibliography-title.title-section Список литературы

            ul.article__bibliography-list
                li
                    cite Айерман Р.
                    p Культурная травма и коллективная память / Пер. с англ. Николая Песолягина // Новое литературное обозрение. 2016.

                li
                    cite Айерман Р.
                    p Клинические лекции по Кляйн и Биону / Пер. с англ. Л. В. Топор овой. М.: Когито-Центр, 2012

                li
                    cite Барке К. А.
                    p Эхо бессознательного аффекта: передача психической трав-мы // Современная наука: актуальные проблемы теории и практики. 2023 № 2 С. 32–38. (Серия «Познание»).

                li
                    cite Ушакин С., Трубина Е.
                    p Травма: пункты: Сборник статей. М.: Новое литературное обозрение, 2009

                li.btn-more.button-light Показать весь список

                li
                    cite Alphen van E.
                    p Caught by History. Holocaust Effects in Contemporary Art, Literature and Theory. Stanford University Press.

                li
                    cite Artaud A.
                    p The Theater and Its Double. New York: Grove Press.

                li
                    cite Bion W.
                    p Attention and Interpretation. London: Tavistock Publications.

                li
                    cite Bistoen G., Vanheule S., Craps S.
                    p “Nachträ glichkeit: A Freudian Perspective on Delayed Traumatic Reactions. Theory and Psychology 24 (5). 668–87.

                li
                    cite Bohleber W.
                    p Remé moration, traumatisme et mé moire collective: Le combat pour la remé moration en psychanalyse. Revue franç aise de psychanalyse 71. 803–830.

                li
                    cite Botella C., Botella S.
                    p Trauma et topique: Aspects techniques de l’abord du trauma en sé ance. Revue franç aise de psychanalyse 52: 1461–1477.

                li
                    cite Caruth C.
                    p Unclaimed Experience: Trauma, Narrative, and History. Johns Hopkins University Press.

                li
                    cite Davoine F., Gaudilliè re J-M.
                    p History Beyond Trauma. New York: Other Press.

                li
                    cite Davoine F.
                    p The character of madness in the talking cure. Psychoanalytic Dialogues, 17(5), 627–638.

                li
                    cite Felman S.
                    p Testimony: Crisis of Witnessing in Literature, Psychoanalysis, and History. New York, 224.

                li
                    cite Freud S.
                    p Moses and Monotheism. In The Complete Psychological Works of Sigmund Freud. Vol. XXIII (1937–1939). London: Hogarth Press and the Institute of Psychoanalysis.

                li
                    cite Gammage J. O.
                    p Trauma and Historical Witnessing: Hope for Malabou's New Wounded. Journal of Speculative Philosophy 30 (3), 404–413.

                li
                    cite Green A.
                    p The Work of the Negative. London: Free Association

                li
                    cite Herrero D., Baelo-Allué S., eds.
                    p Between the Urge to Know and the Need to Deny: Trauma and Ethics in Contemporary British and American Literature. Heidelberg: Universitä tsverlag Winter, 413.

                li
                    cite Janin C.
                    p Figures et destins du traumatisme. Paris: PUF.

                li
                    cite Lacan J.
                    p Les quatre concepts fondamentaux de la psychanalyse. Paris: Seuil.

                li
                    cite Levy G.
                    p L’ivresse du pire. Paris: Campagne Premiè re.

                li
                    cite Moore R.
                    p Traumatic Shutdown of Narrative and Symbolization. Contemporary Psychoanalysis 41, 26–307.

                li
                    cite Ogden T.
                    p The analytic third: working with intersubjective clinical facts. Int J Psychoanal. №75. Р. 3–19.

                li
                    cite Oliver K.
                    p Witnessing: Beyond Recognition. Minneapolis: University of Minnesota Press.

                li
                    cite Stewart S.
                    p Trauma et réalité psychique. La douleur et la souffrance psychiques. Revue française de psychanalyse. Vol. 55. № 3 P. 957–978.

                li
                    cite Vinar M.N.
                    p The specifi city of torture as trauma: The human wilderness when words fail. International Journal of Psychoanalysis, 311–333.

                li
                    cite Volkan D.
                    p The linking objects of pathological mourners. Archives of General Psychiatry, 215–221.

                li
                    cite Walkerdine V., Olsvold A. & Rudberg M.
                    p Researching Embodiment and Intergenerational Trauma using the work of Davoine and Gaudilliere: History walked in the door. Subjectivity 6, 272–297.

                li
                    cite Winnicott D. W.
                    p Fear of breakdown. International Review of Psychoanalysis 1. 103–107.

                li
                    cite Zaltzman N.
                    p De la gué rison psychanalytique. Paris: PUF.
