section.article.light-block
    .article__container.container

        aside.article__aside.left
            h2.title-section.decor-line.decor-line--dark Переосмысление контрпереноса
            p.article__aside-subtitle Современная критика классицизма признаёт ценность контрпереноса как клинического инструмента и выводит субъективность аналитика на терапевтическую арену.
            .article__aside-img
                img(src='./assets/img/articles/article-7-1.png' alt="pic")


        p Метапсихология психоанализа была пересмотрена теорией объектных отношений. Идея состоит в том, что “все, что приходит в голову, должно быть сообщено", эта мысль была сформулирована как "фундаментальное правило психоаналитической техники".
        p Правило, которое структурирует аналитическую ситуацию: пациента просят говорить все, что он думает и чувствует, ничего не выбирая и ничего не опуская из того, что приходит ему в голову, даже если это кажется ему неприятным, нелепым, лишенным интереса или не относящимся к делу.
        p Аналитические отношения, продиктованные этим правилом, подчеркивают его  лингвистическое содержание, устанавливают нейтралитет и способствуют  регрессии пациента. У этого правила есть еще одно следствие, которое,  как и использование “кушетки”, является пережитком гипнотического  метода, из которого оно развилось, оно ограничивает работу психоанализа  монологом пациента.
        p Первоначальной парадигмой Фрейда была психология, формулировки которой относятся к психологии одного человека, занимающегося индивидом в изоляции. Он поддерживал использование “кушетки”, поскольку она защищала его от неудобного взаимодействия с пациентами и воздействия на них, а также из-за преимуществ, которые она приносила в лечение, минимизируя степень ограничения свободных ассоциаций в диалоге.
        p Критика классической теории не соглашалась с этими ограничениями. Сегодня концепция контрпереноса была переосмыслена как ценный клинический инструмент; субъективность аналитика была выведена на терапевтическую арену как признанный ресурс, а не как досадное вторжение, как считал ранее Фрейд; а свободные ассоциации, лишенные «ненужной» теории влечений, были переосмыслены в контексте психологии двух лиц, сфокусированной на диалоге между пациентом и аналитиком, "взаимосвязи между двумя индивидами ... постоянно изменяющимся и развивающимся объектом-отношением", "ситуацией двух лиц".

        cite.article__cite
            span The language of the group: monologue, dialogue and discourse in group analysis.
            span John Schlapobersky
            span Перевод: Барке Ксения