section.article.light-block
    .article__container.container

        p Понятие паттерна было контекстуализировано Кортесао, который широко рассуждал о семантическом источнике и неоднозначности значения слова паттерн, чтобы прояснить используемое им значение.
        p Концепция паттерна вызвала полемику с Фоулксом, поскольку Фоулксом значению был приписан иной смысл.
        p Кортесао объясняет паттерн как «особый вид позы, которую групповой аналитик передает и переносит в групповую аналитическую матрицу, чтобы интерпретировать то, что способствует и развивает групповой аналитический процесс».
        p Говоря о паттерне, мы имеем в виду сопряженные характеристики и компетенции, которыми обладает групповой аналитик и которые служат катализатором, позволяющим аккомодировать и развивать терапию.
        p Теоретически она включает в себя три вершины: природа, функция и цель.



        aside.article__aside.left
            h2.title-section.decor-line.decor-line--dark Природа
            p.article__aside-subtitle - это характеристики группового аналитика
            .article__aside-img.border
                img(src='./assets/img/articles/article-5-1.png' alt="pic")

        p — как личность, характер, репрезентация интернализованных знакомых и социокультурных матриц, аналитическая подготовка (то есть то, как он интернализовал и идентифицировал себя со своим аналитиком), эмпатическая способность быть в группе и разжигать аутентичные отношения, основанные на правде и честности;
        p — в качестве конвейера - его способности в связи с уровнем его профессиональной подготовки, такие как: групповой анализ курса подготовки, наблюдение и современные и научные знания.

        aside.article__aside.right
            h2.title-section.decor-line.decor-line--dark Функция
            p.article__aside-subtitle - она связана с соблюдением правил и позиций:
            .article__aside-img.border
                img(src='./assets/img/articles/article-5-2.png' alt="pic")

        p — Правила: отбор пациентов для содействия развитию группового процесса; установление терапевтического соглашения, требующего герметичности и запрещающего пациентам иметь какие-либо отношения между собой вне терапевтического контекста, а также запрещающего терапевту поддерживать какие-либо отношения с семьей пациента; обеспечение пространства для терапевтических сессий, а также гарантия того, что групповой аналитик будет соблюдать пунктуальность и частоту сессий: отдавать предпочтение разговорному общению и не допускать актерства и вторичных выгод; и поощрять плавающие дискуссии;
        p — Позиции: вмешательства группового аналитика будут проясняющими, конфронтационными и реформаторскими; вмешательства будут формальными, и он не будет говорить о себе; интерпретации будут идти от генетического уровня к уровню переноса и коммутативному уровню; будет внимателен к биномиальному феномену переноса/контрпереноса, чтобы способствовать эмфатическим отношениям, которые будут ценить лечение.


        aside.article__aside.left
            h2.title-section.decor-line.decor-line--dark Цель
            p.article__aside-subtitle - способствовать индукции и поддержке (в групповой аналитической матрице) группового аналитического процесса через содействие:
        p — рациональных и эмоциональных инсайтов;
        p — интервенций, которые приводят к изменениям самости;
        p — развитие дискриминационных структур, и самостоятельности, что позволит достичь относительной автономии и последовательной и нормальной зависимости.

