section.article.light-block
    .article__container.container

        aside.article__aside.left
            h2.title-section.decor-line.decor-line--dark Проработки
            p.article__aside-subtitle — это интеграция интерпретаций для преодоления сопротивлений и осознания подавленных материалов через личные переживания.
            .article__aside-img
                img(src='./assets/img/articles/article-1-1.png' alt="pic")

        p.text-indent Термин «проработка» можно понимать, как обозначение индивидуальной работы, выполняемой самим индивидом, которая может включать в себя страдания, боль, усталость, удовольствие, тщательную умственную работу.
        p В контексте группового анализа и психоанализа это понятие не сильно отличается от предыдущего определения, но скорее обрамляет его в психический контекст со всей соответствующей теорией.
        p В словаре психоанализа проработка возникает как аналитический процесс, в котором интерпретация интегрируется, что приводит к подавлению ранее существовавших сопротивлений по отношению к интерпретации мысли или поведения. Таким образом, то, что было подавлено, начинает всплывать на поверхность вместе с бессознательными защитными механизмами, осознанием такого подавления и последующей редукцией механизмов, ведущих к повторению.

        p Мы имеем дело с процессом, или способом психического функционирования, постоянным в групповом анализе/психоанализе, он усиливается, когда пациент предстает как застойный, без видимого развития, из-за того, что сопротивление всплытию репрессий все еще присутствует и никакая интерпретация не включена или не ментализирована. Групповой аналитик и/или члены группы могут интерпретировать происходящее в этот невидимый момент проработки, что, в рамках нескольких контекстов, в которых повторяется поведение, поможет ослабить защиты и, как следствие, появление репрессированного материала.
        p Фрейд уделяет особое внимание сопротивлениям пациента, тому, как он осознает их и может связать с прошлыми ситуациями и опытом. Для Фрейда характерными чертами репрессии являются действие и повторение поведения. В переносе с аналитиком пациент так или иначе повторяет свои поведенческие паттерны, и его сопротивления проявляются. В момент повторения и разыгрывания аналитик обращает внимание на эту ситуацию, интерпретирует ее в этот самый момент, и подавленный материал, выраженный через симптомы, получает возможность всплыть, быть ментализированным, реорганизованным и, в определенной степени, заново сохраненным.
        p По мнению Кортесао, проработка является одним из аспектов группового аналитического процесса и происходит медленно, но непрерывно. Постоянство и время - это те аспекты, которые оказывают наибольшее влияние на процесс проработки.
        p Кортесао цитирует Гловера, когда тот говорит о медлительности процесса проработки, что подчеркивает тот факт, что факторы, определяющие этот процесс, также действуют постепенно: «постепенная психическая безопасность; новые постепенные интроекции; расщепленные проекции, уступаемые эго; постепенное расширение диапазона перемещений, постепенно приводящее к новым адаптациям; постепенное развитие функций либидо и агрессивных импульсов; и настойчивая работа с компульсией повторения». Проработка - это всего лишь один из аспектов аналитической работы.

