section.article.light-block
    .article__container.container.aside-row


        aside.article__aside.row
            .article__aside-text
                h2.title-section.decor-line.decor-line--dark Бумажные люди, ожидающие места, где они смогут жить и действовать
                span.article__author Camilla Engman
            .article__aside-img
                img(src='./assets/img/articles/article-19-1.png' alt="pic")


        .article__item
            h2.title-section Уоррен Кинстон
            ol.article__item-list
                li Стыд игнорируется или упоминается только вскользь (Райх 1960); (Лапланш и Понталис, 1973) [6]; (Кернберг, 1975); (Винникотт, 1965); (Сигал, 1973).
                li Стыд связывается с сексуальностью (Фрейд, 1896).
                li Стыд, для практических целей, признается неотличимым от вины (Хартман и Ловенстайн, 1962).
                li Стыд рассматривается как синоним вины и зависит от отношений Эго и Супер-эго (Пирс и Сингер, 1953); (Сандлер, 1963); (Якобсон, 1964).
                li Стыд является составной часть сексуального влечения или защиты от него (Фрейд, 1905);
                li Стыд связан с идентичностью, нарциссизмом и Самостью (Эриксон, 1950, 1968); (Лихтенштейн, 1963).


        aside.article__aside.row
            .article__aside-text
                h2.title-section Стыд и вина
                ul
                    li Согласно Льюису, чувство вины - это оценка действия или бездействия, в результате которого человек причинил вред другому: "Я сделал что-то ужасное".
                    li Стыд связан с несоответствием идеальному образу. Человек не является тем, кем он себя считает или кем хотел бы быть
                b Стыд — публичное.
                b Вина — личное.
            .article__aside-img.order-1
                img(src='./assets/img/articles/article-19-2.png' alt="pic")

        aside.article__aside.row.img-left
            .article__aside-text
                h2.title-section Классификация чувств вины
                ul.decor-line.decor-line--dark
                    li базовое чувство вины
                    li чувство вины, связанное с витальностью
                    li чувство вины за разлуку
                    li и чувство вины, связанное с травмой
                span.article__author Художник Arlene Morris
            .article__aside-img
                img(src='./assets/img/articles/article-19-3.png' alt="pic")


        .article__item
            h2.title-section Базовое чувство вины
            p Базовое чувство вины - это чувство невостребованности, недопустимости присутствия
            ol.article__item-list
                li Существование ребенка нежелательно: самим фактом своего существования ребенок чувствует, что причинил родителям неприятности и виноват.
                li Родители действительно хотят ребенка, но этот ребенок не подходит, обычно потому, что у него нет желаемого пола.


        aside.article__aside.row
            .article__aside-text
                h2.title-section Чувство вины из — за витальности 3 формы
                ol.decor-line.decor-line--dark
                    li Чувство вины перед лицом успеха: успех может вызывать чувство вины, если мы считаем, что наше стремление к успеху навредит или помешает кому-то другому.
                    li Ужас страдающего родителя: ужас, который хронически больной родитель оказывает на ребенка в виде ипохондрической тревоги и регулярных суицидальных высказываний, может быть очень велик.
                    li Чувство вины выжившего: это чувство вины возникает как из стремления к витальности, так и из травматического чувства вины, вызванного интроекцией насилия и травматической потери.
                span.article__author Художник Алексей Теренин
            .article__aside-img.order-1
                img(src='./assets/img/articles/article-19-4.png' alt="pic")


        .article__item
            p Моя сестра провела свою жизнь в земле. Родилась и умерла, а между – ни одного осмысленного взгляда, слова.
            p Как все младенцы, она плакала, но от еды отворачивалась. Моя мать укачивала её, пытаясь изменить сначала судьбу, потом историю.
            p Когда сестра умерла, что-то всё-таки изменилось. Её сердце стало холодным и жёстким, как маленький металлический кулон.
            p И мне казалось, что тельце сестры стало магнитом. И оно притягивает сердце матери к себе в землю, чтобы прорасти там.
            span.article__author Луиза Глюк


        aside.article__aside.row.img-left
            .article__aside-text
                h2.title-section Чувство вины за разлуку
                p.decor-line.decor-line--dark Стремление ребенка к автономии может быть связано с чувством вины, когда родитель воспринимает отдаление как угрозу.
                span.article__author Художник John Wentz
            .article__aside-img
                img(src='./assets/img/articles/article-19-5.png' alt="pic")


        aside.article__aside.row
            .article__aside-text
                h2.title-section Чувство вины, связанное с травмой
                p Тяжелый опыт насилия и жестокого обращения оставляет в Я след, который приводит кчувству вины.
                p.decor-line.decor-line--dark Хирш (2000, 2010) также указывает на парадокс: невинная жертва страдает от сильного чувства вины, в то время как преступник не чувствует и не признает вины.
                span.article__author The Distance — Veronica Cay
            .article__aside-img.order-1
                img(src='./assets/img/articles/article-19-6.png' alt="pic")




        cite.article__cite
            span Литература
            ul
                li Травма стыд и страдание. Бенджамин Килборн
                li Происхождение стыда и его проявления. Рехардт Э., Иконен П.П. Художественная литература
                li Мой дед расстрелял бы меня: История внучки Амона Гёта, коменданта концлагеря Плашов. Автор Дженнифер Тиге Никола Зелльмаир
                li И при чем здесь я? Преступление, совершенное в марте 1945 года. История моей семьи. Автор: Саша Бaттьяни