section.article.light-block
    .article__container.container

        aside.article__aside.left
            h2.title-section.decor-line.decor-line--dark Клинические иллюстрации: монолог, диалог и дискурс
            p.article__aside-subtitle Связывает различные психологические уровни и предоставляет интегративную рамку для группового анализа, обеспечивая взаимосвязь изменений в разных психологиях.

        p Свободная дискуссия происходит через взаимодействие нарратива и драмы, рассказа и обмена мнениями, реконструкции и встреч. Реконструкция, осуществляемая отдельным человеком или подгруппой, может служить защитой от тревоги, связанной с непосредственными встречами между членами группы.
        p Примеры, приведенные ниже, иллюстрируют, какой прогресс в глубине клинической работы можно достичь через простую практику определения того, кто с кем и о чем говорит.
        p #[b.mt 1. Монолог]
        p Мужчина в группе делится обстоятельствами, которые привели его в терапию. После трех сессий он начинает находить свой голос и больше говорить, но его рассказ уже не вызывает интереса у других участников группы. Мужчина не устанавливает зрительный контакт и говорит, будто все больше погружаясь в себя, что приводит к реакции группы будто на его самовлюбленность, а не на его страдания.
        p Сначала участники активно задавали вопросы, но со временем их терпение иссякает: кто-то дремлет, кто-то отвлекается. Когда ведущий группы спрашивает, с кем он разговаривает, он осознает, что остался как будто один на сцене. Начинается процесс децентрации: он понимает свою ответственность за отстранение, но пока не может наладить эмпатическое общение.
        p Он провел жизнь заботясь о других и избегая своих нужд. Теперь, стремясь вернуть себе свое место, он сталкивается с нехваткой ресурсов для взаимных отношений. Чтобы обрести голос для создания отношений и коммуникации, ему нужно найти себя. Группа предоставляет пространство для осознания своей боли. Если терапия будет успешной, его манера общения изменится, что улучшит отношения с близкими.
        p Группа становится ареной для примирения психики и социального мира. В будущем он научится устанавливать зрительный контакт и увлекать людей своим повествованием, разделяя общие эмоции.

        p #[b 2. Диалог]
        p Переход от аутистического, частного отчуждения к открыто идентифицируемому и разделяемому социальному процессу лежит в основе групповой аналитической работы.
        p Отличительная речевая форма, возникающая в ходе диалога на втором уровне, иллюстрируется обменом мнениями в двух разных группах, между двумя членами в каждом случае. В первом случае рассматриваются понятия валентности и зеркального отражения, а во втором — проекции и проективной идентификации.


        aside.article__aside.left
            h2.title-section.decor-line.decor-line--dark Валентность и зеркальное отношение
            .article__aside-img.border
                img(src='./assets/img/articles/article-8-1.png' alt="pic")

        p В группе мужчина делится трогательной историей о доверительных отношениях с дочерью-подростком, которая открылась ему. Эта история глубоко трогает женщину в группе, у которой были болезненные отношения с отцом.
        p Она видит в мужчине идеального отца, которого всегда хотела иметь в своей жизни, и в их общении возникает эмоциональная связь - валентность. Их взаимодействие отражает их неразрешенные родительские интроекты, они выбирают друг друга, чтобы проработать эти вопросы и найти репаративное зеркало для утраченного аспекта своего Я.
        p Взаимодействие мужчин и женщины вызывает эмоции у всей группы, так как они отражают друг в друге свои глубокие потребности и ощущение другого вытекает из отношений с самим собой.


        aside.article__aside.right
            h2.title-section.decor-line.decor-line--dark Формы речи и семантическое поле
            .article__aside-img.border
                img(src='./assets/img/articles/article-8-2.png' alt="pic")

        p В группе мужчина и женщина оказываются в ситуации проекции и проективной идентификации. Она видит в нем своего строптивого и навязчивого отца, он же видит в ней свою мать, образ которой для него разрушителен.
        p Рассказ мужчины о сне, где она душит его отца, приводит к конфликту. Она воспринимает это как нападение на себя и пытается контролировать его психическую жизнь.
        p Вмешательство ведущего группы помогает ей осознать свои действия. Смятение и депрессия, которые она испытывает, заставляют мужчину увидеть ее как отдельного человека.
        p Это позволяет ему конструктивно относиться к ее потребностям, а ей - понять, что отказ от контроля может принести пользу.

        p #[b 3. Дискурс]
        p Приведенные примеры иллюстрируют свободно плавающую природу групповой дискуссии. Вместо того чтобы стремиться к определенной модели общения, речевая форма группы рассматривается, как источник информации о происходящем в матрице группы. Чтобы понять группу, мы должны рассмотреть структуру ее дискурса, а не только текст ее повествования. Теория дискурса должна помочь прояснить, как «внутренняя (ментальная) и «внешняя» реальность сливаются внутри общей матрицы межличностной социальной реальности, из которой они первоначально дифференцировались.


        cite.article__cite
            span The language of the group: monologue, dialogue and discourse in group analysis.
            span John Schlapobersky
            span Перевод: Барке Ксения