section.article.light-block
    .article__container.container

        aside.article__aside.left
            h2.title-section.decor-line.decor-line--dark Психологические формы и реляционное поле
            .article__aside-img.border
                img(src='./assets/img/articles/article-9-1.png' alt="pic")

        p Сегодня мы являемся свидетелями распада психологии на категории в соответствии с минимальным количеством людей, необходимых для изучения каждой отрасли предмета.
        p Психология одного индивида фокусируется на том, что происходит внутри человека, психология двух индивидов делает акцент на взаимных отношениях, а психология трех индивидов занимается реляционным полем базовой семейной констелляции и вытекающими из нее социальными ролями и социальными отношениями.
        p Первая берет в качестве своего поля природу внутреннего опыта и отводит центральное место разуму, поскольку он находится в теле. Его психологические функции включают ощущение, восприятие, познание, настроение, память, воображение, фантазию и психосоматическую связь.

        p Сегодня мы являемся свидетелями распада психологии на категории в соответствии с минимальным количеством людей, необходимых для изучения каждой отрасли предмета.
        p Психология одного индивида фокусируется на том, что происходит внутри человека, психология двух индивидов делает акцент на взаимных отношениях, а психология трех индивидов занимается реляционным полем базовой семейной констелляции и вытекающими из нее социальными ролями и социальными отношениями.
        p Первая берет в качестве своего поля природу внутреннего опыта и отводит центральное место разуму, поскольку он находится в теле. Его психологические функции включают ощущение, восприятие, познание, настроение, память, воображение, фантазию и психосоматическую связь.


        aside.article__aside.right
            h2.title-section.decor-line.decor-line--dark Формы речи и семантическое поле
            .article__aside-img.border
                img(src='./assets/img/articles/article-9-2.png' alt="pic")

        p Дискурс, в своем разговорном значении, представляет собой процесс передачи мыслей через речь, обмен информацией между говорящим и слушающим. Он описывает отношения между рассказчиком, слушателем и сюжетом.
        p Структура дискурса включает в себя взаимодействие между первым, вторым и третьим лицами. Когда говорящий, слушающий и обсуждаемый объект различаются как личности, например, когда два человека общаются в присутствии третьего, это создает основу для группы. Термин "дискурс" используется для описания именно этого вида групповой коммуникации.

        p Если общение происходит между двумя людьми, мы имеем дело с диалогом, в некоторых контекстах термин "диалог" может не означать обмен мнениями между двумя участниками. Однако в более узком смысле термин может быть использован, чтобы обозначить формы речи с не более чем двумя ключевыми участниками, будь то отдельные личности, команды или гендерные группы. Таким образом, термин служит для определения того, что отличает речевую форму, основанную на оппозиционной симметрии, взаимности или дуальности, в которой диалектика обмена является её ключевым свойством.
        p Применяя теорию языка к изучению групповой психотерапии, мы можем наблюдать, как развивается агентность группового процесса. На первом этапе происходит уединение частных встреч с собой, которые допускаются аудиторией группы. На втором этапе это приводит к большей способности к изменениям, когда в ходе диалога участники начинают осознавать свои внутренние конфликты через обсуждение различных уровней близости и опыта.
        p Когда один и тот же опыт воспринимается по-разному разными участниками, это обнажает их внутренние конфликты и со временем может помочь в их разрешении. И это приводит к третьему этапу — дискурсу, когда спонтанный обмен мнениями позволяет выявить глубинные тревоги и найти пути их разрешения.
        p Этот опыт имеет значительные последствия для личностных изменений. Наиболее яркое описание такого дискурса — это то, как сон индивида может быть воспринят в группе. В одном из клинический примеров, члены группы вместе погружаются в сон через разнообразие ассоциаций. В обсуждении, в ходе которого исследуются содержание сна и его ассоциации, мы видим свободную игру слов, действующую в общем бессознательном. Резонанс в группе объединяет участников, что усиливает смысл происходящего и может привести к глубоким эмоциональным переживаниям.
        p Каждая из этих форм речи может проявляться как в нарративной форме через пересказ или реконструкцию сообщенных событий, так и в драматической форме в реальном опыте людей друг с другом.
        p Процесс групповой работы характеризуется динамичным взаимодействием между нарративом и драмой — историями, которые участники рассказывают, и ролями, которые они играют. Прогресс заключается в переходе от речевых моделей с доминированием повествования к более зрелым формам, включающим рефлексивный диалог и дискурс; затем к способности обобщать этот опыт как внутри группы, так и за ее пределами. Эта прогрессия отражает первичную модель роста ребенка, который постепенно выходит за пределы своего Я.
        p Парадокс этой прогрессии заключается в том, что по мере углубления и обогащения интерсубъективной области участники становятся собой, двигаясь наружу от себя.
        p Все эти речевые формы могут возникнуть в диалоге только между двумя людьми, поскольку, отношения имеют разную степень близости — просто быть с другим, это вселенная дискурса. Но в то время как диалог может породить почти безграничный диапазон значений, условия психологии двух людей действуют как ограничение. Дискурс в группе выходит далеко за эти рамки благодаря реляционному полю, которое почти так же богато и неопределённое, как и его семантическое поле.
        p Благодаря групповому взаимодействию реляционное и семантическое поля - матрица взаимодействия и матрица смысла - начинают играть друг с другом, придавая новый смысл раннему символическому и репрезентативному опыту. Таким образом, язык - это форма поведения в группе; способ обращения к опыту в группе и за ее пределами; и способ преобразования опыта в группе.


        cite.article__cite
            span The language of the group: monologue, dialogue and discourse in group analysis.
            span John Schlapobersky
            span Перевод: Барке Ксения