.hero
  padding: 50px 0
  @include mobile
    padding: 20px 0

  &__container
    display: grid
    grid-template-columns: 1fr 1fr
    gap: 16px
    justify-content: space-between
    @include tablet
      grid-template-columns: 1fr

  &__content
    position: relative
    display: flex
    flex-direction: column
    z-index: 1
    &::after
      content: ""
      position: absolute
      width: 15vw
      height: 15vw
      border-radius: 50%
      background-color: $primary
      filter: blur(190px)
      top: 50%
      transform: translateY(-50%)
      right: -50%

  &__title
    @include fontSize(40, 96)
    margin-bottom: 32px
    text-transform: uppercase
    user-select: none
    @include mobile
      margin-bottom: 20px
    @media (max-width: 360px)
      font-size: 32px

  &__text
    @include fontSize(16, 20)
    text-wrap: balance
    margin-bottom: 80px
    @include tablet
      margin-bottom: 32px

  &__img
    position: relative
    width: 100%
    max-width: 560px
    user-select: none
    z-index: 1
    @include tablet
      order: -1
      aspect-ratio: 1.15 / 1
      max-width: 400px
    @include mobile
      margin: 0 auto

  &__decor
    position: absolute



// Страница "О групп-аналитике"
.hero.hero-about
  .hero

    &__content
      padding-top: 40px
      @include tablet
        align-items: center
        padding-top: 0
      &::after
        top: 20%
        right: -100%
        filter: blur(160px)

    &__title
      @include tablet
        text-align: center


    &__img
      object-fit: contain
      aspect-ratio: initial
      @include tablet
        order: -1
        max-width: 400px
        margin: 0 auto
        width: 90%

    &__nameplate
      display: flex
      gap: 10px
      align-items: center
      font-size: 24px
      white-space: nowrap
      text-align: center
      user-select: none
      margin-bottom: 32px
      @include fontSize(14, 24)
      @include mobile
        justify-content: center
        border-radius: 0
        width: 100vw
        padding: 10px 24px
        margin-right: -32px
        margin-left: -32px



// Страница "Еще о групповой психотерапии"
.hero.hero-articles
  .hero
    &__container
      display: block

    &__content::after
      right: 0

    &__buttons
      display: flex
      gap: 8px
      flex-wrap: wrap


.hero.hero-article
  .hero
    &__container
      display: block

    &__content::after
      right: 0

    &__title
      @include fontSize(24, 40)
      text-wrap: balance
      line-height: 1.4
      text-transform: initial

    &__breadcrumbs
      display: flex
      align-items: center
      gap: 32px
      @include mobile
        justify-content: space-between
        gap: 24px

      a
        position: relative
        display: flex
        align-items: center
        gap: 24px
        font-size: 16px
        border: 1px solid currentColor
        padding: 20px
        border-radius: 20px
        white-space: nowrap
        &::before
          content: ""
          display: inline-block
          background-image: url("../img/icons/arrow-left.svg")
          width: 17px
          height: 13px
          background-position: center
          background-repeat: no-repeat
          background-size: contain
        @include mobile
          gap: 12px
          padding: 14px 20px

      span
        font-style: italic
        @include fontSize(14, 20)
        opacity: 0.7
        font-weight: 200