section.hero
    .hero__container.container
        .hero__content(data-aos="fade-right")
            h1.hero__title.font-decor Групповая <br> он-лайн <br> терапия
            p.hero__text — это терапевтический подход, позволяющий работать вместе, чтобы способствовать совместному преодолению невзгод, трудностей и исцелению для улучшения качества жизни.

            a.button-outline.button-outline--light(href="https://t.me/symbolisierung" target="_blank") telegram-канал
            a.button-outline.button-outline--light(href="https://wa.me/79366660016" target="_blank") Whatsapp

        img.hero__img(src='./assets/img/cover-index.png' alt="cover" data-aos="fade-right" data-aos-delay="150")
        span.hero__decor-circle
