section.hero.hero-article
    .hero__container.container
        .hero__content
            h1.hero__title.font-decor Почему люди предпочитают индивидуальную, а не групповую терапию?

            .hero__breadcrumbs
                a(href="yeshche-o-gruppovoy-psikhoterapii.html") Все статьи
                span Малкольм Пайнс


