section.hero.hero-about
    .hero__container.container
        .hero__content
            h1.hero__title.font-decor Ксения <br> Барке
            .hero__nameplate
                span Психотерапевт
                span &bull;
                span Клинический психолог

            a.button-outline.button-outline--light(href="https://t.me/symbolisierung" target="_blank") telegram-канал
            a.button-outline.button-outline--light(href="https://wa.me/79366660016" target="_blank") Whatsapp

        img.hero__img(src='./assets/img/about-group-cover.png' alt="")
        span.hero__decor-circle
