section.hero
    .hero__container.container
        .hero__content
            h1.hero__title.font-decor Еще о групповой психотерапии

            a.button-outline.button-outline--light(href="https://t.me/symbolisierung" target="_blank") telegram-канал
            a.button-outline.button-outline--light(href="https://wa.me/79366660016" target="_blank") Whatsapp

        span.hero__decor-circle
