footer.footer#footer
    .footer__container.container
        span.footer__author.font-decor Барке Ксения Андреевна
        span.footer__profession Психотерапевт, клинический психолог
        span.footer__copyright © 2024


button.btn-up
    img(src="./assets/img/icons/up.svg")

a.whatsapp(href="https://wa.me/79366660016" target="_blank" title="WhatsApp")
    img(src="./assets/img/icons/whatsapp.svg")