section.services#services
    .services__container.container
        h2.title-section Услуги

        .services__list

            article.services__item
                h3.services__item-title Индивидуальный психоанализ

                p Индивидуальный психоанализ – самое увлекательное и самое трудоемкое исследование, которое мы можем предпринять в своей жизни – исследование своих внутриличностных конфликтов, травм, трудностей в отношениях.
                p В конечном итоге, психоанализ позволяет нам стать авторами своей собственной жизнь. Возвращаются важные части нашей самости, которые раньше были утеряны. И облекая в слова то, что мы переживаем, мы находим в себе возможности трансформировать свою жизнь, обретая новые смыслы, и вступать на путь реализации своего истинного Я.

                .services__blockquote.blockquote.blockquote--light
                    .blockquote__inner
                        blockquote Интерпретируя мир, психоанализ изменяет&nbsp;его.
                        cite Поль Рикер


            article.services__item
                h3.services__item-title Групповой психоанализ

                p Потребность быть причастным к группе – наша базовая потребность. Терапевтическая группа является мощным инструментом, позволяющим не только углубиться в мир отношений и решить внутриличностные конфликты, но так же обрести то ощущение своего места в жизни и обществе, которое нам необходимо Порой только в групповой терапии мы можем проработать травматичные моменты, которые в индивидуальной терапии могут даже не появиться на поверхности.

                ul.services__item-list
                    li В присутствии других мы можем противостоять нашим самым глубоким страхам и начать процесс трансформации.
                    li Групповая психотерапия - это зеркало, которое отражает нашу собственную борьбу, позволяя нам видеть себя в историях других.
                    li Терапевтическая сила группы заключается в ее способности создавать безопасное пространство, где могут процветать подлинность и уязвимость.
                    li В групповой терапии мы узнаем, что мы не одиноки в нашей боли, и эта связь является ключом к исцелению.
                    li Сила групповой терапии заключается в ее способности бросить вызов нашим старым шаблонам и убеждениям, прокладывая путь к личностному росту.


            article.services__item
                h3.services__item-title Супервизия для психологов

                p Клинический разбор Вашего случая работы с клиентом. Стоимость супервизии равна стоимости Вашей работы с клиентом.

                .services__blockquote.blockquote.blockquote--light
                    .blockquote__inner
                        blockquote Психотерапия – это профессия, основой которой является любовь. Почти каждый, кто приходит к психотерапевту, страдает любовным расстройством, и у каждого есть своя история, которую он может рассказать о любви, - потерянной или отвергнутой, любви извращенной или скованной насилием и предательством.
                        cite Дэйн Аккерман

                .services__blockquote.blockquote.blockquote--light
                    .blockquote__inner
                        blockquote В некотором смысле аналитику труднее, чем кому бы то ни было быть оригинальным. Все то, что мы говорим сегодня, было преподано нам вчера (нашими пациентами).
                        cite Дональд Винникотт


            article.services__item
                h3.services__item-title Психотерапия детей и подростков

                p Терапия - это безопасное пространство, где дети и подростки могут исследовать свои мысли, чувства и опыт, не опасаясь осуждения или критики. Это место, где они могут быть самими собой и искать решения своих проблемам.
                p Психотерапия подростков заключается не в том, чтобы исправить их, а в том, чтобы дать им возможность развить навыки рефлексии, необходимые им для преодоления трудностей подросткового возраста.

