extends ../layouts/main

block variables
  - var title_article = "Групповая психотерапия: как и почему это работает? Часть II. Значимость привязанности"
  - var title = "Ксения Барке | Групповая психотерапия: как и почему это работает? Часть II. Значимость привязанности"

block content
    +hero_article(title_article, "Ксения Барке")
    include ../blocks/article/Gruppovaya-psihoterapiya-kak-i-pochemu-ehto-rabotaet-Chast-II-O-znachimosti-privyazannosti
