extends ../layouts/main

block variables
    - var title = "Ксения Барке | Групповая он-лайн терапия"

block content
    include ../blocks/hero/hero
    include ../blocks/block-article/what-is
    include ../blocks/advantages/advantages
    include ../blocks/feedback-group/feedback-group