extends ../layouts/main

block variables
    - var title = "Ксения Барке | Тест"

block content
    button.button-hidden(data-class="hero") Скрыть блок
    include ../blocks/hero/hero
    button.button-hidden(data-class="what-is") Скрыть блок
    include ../blocks/block-article/what-is
    button.button-hidden(data-class="about") Скрыть блок
    include ../blocks/block-article/about
    button.button-hidden(data-class="advantages") Скрыть блок
    include ../blocks/advantages/advantages
    button.button-hidden(data-class="feedback-group") Скрыть блок
    include ../blocks/feedback-group/feedback-group
    button.button-hidden(data-class="footer") Скрыть блок

