extends ../layouts/main

block variables
  - var title = "Ксения Барке | О групп-аналитике"

block content
    include ../blocks/hero/hero-about
    include ../blocks/education/education
    include ../blocks/services/services
    include ../blocks/books/books