extends ../layouts/main

block variables
  - var title_article = 'Определение понятия "групп-анализ" и "матрица группа"'
  - var title = 'Ксения Барке | Определение понятия "групп-анализ" и "матрица группа"'

block content

    +hero_article(title_article, "Ксения Барке")
    include ../blocks/article/Opredelenie-ponyatiya-grupp-analiz
