extends ../layouts/main

block variables
  - var title_article = "Первое фундаментальное правило Фрейда"
  - var title = "Ксения Барке | Первое фундаментальное правило Фрейда"

block content

    +hero_article(title_article, "Малкольм Пайнс")
    include ../blocks/article/Pervoe-fundamentalnoe-pravilo-Frejda
