extends ../layouts/main

block variables
  - var title = "Ксения Барке | Почему люди предпочитают индивидуальную, а не групповую терапию?"

block content
    include ../blocks/hero/hero-article
    include ../blocks/article/pochemu-ljudi-predpochitajut-individual'nuju-a-ne-gruppovuju-terapiju
