extends ../layouts/main

block variables
  - var title_article = "Подготовка пограничных пациентов для терапевтической группы"
  - var title = "Ксения Барке | Подготовка пограничных пациентов для терапевтической группы"

block content

    +hero_article(title_article)

    include ../blocks/article/Podgotovka-pogranichnyh-pacientov-dlya-terapevticheskoj-gruppy
