extends ../layouts/main

block variables
  - var title_article = "Понятие Паттерна в работе Абреу-Афонсо Жозе «Групповой анализ: Другие взгляды на сознательное и бессознательное»"
  - var title = "Ксения Барке | Понятие Паттерна в работе Абреу-Афонсо Жозе «Групповой анализ: Другие взгляды на сознательное и бессознательное»"

block content

    +hero_article(title_article, "Ксения Барке")
    include ../blocks/article/Ponyatie-Patterna-v-rabote-Abreu-Afonso-ZHoze-Gruppovoj-analiz-Drugie-vzglyady-na-soznatelnoe-i-bessoznatelnoe
