extends ../layouts/main

block variables
  - var title_article = "Препятствия, проблемы и преимущества групповой психотерапии онлайн"
  - var title = "Ксения Барке | Препятствия, проблемы и преимущества групповой психотерапии онлайн"

block content
    +hero_article(title_article, "Haim Weinberg, Ph.D")
    include ../blocks/article/Prepyatstviya-problemy-i-preimushestva-gruppovoj-psihoterapii-onlajn
