extends ../layouts/main

block variables
  - var title_article = "Работа сновидений в группе под редакцией Кладио Нери, Роби Фридмана и Малкольн Пайнс"
  - var title = "Ксения Барке | Работа сновидений в группе под редакцией Кладио Нери, Роби Фридмана и Малкольн Пайнс"

block content
    +hero_article(title_article, "Малкольм Пайнс")
    include ../blocks/article/Rabota-snovidenii-v-gruppe-pod-redakciei-Kladio-Neri-Robi-Fridmana-i-Malkoln-Pains
