extends ../layouts/main

block variables
  - var title_article = "Развитие свободно плавающей дискуссии по Фоулксу"
  - var title = "Ксения Барке | Развитие свободно плавающей дискуссии по Фоулксу"

block content
    +hero_article(title_article, "Ксения Барке")
    include ../blocks/article/Razvitie-svobodno-plavayuschei-diskussii-po-Foulksu
