extends ../layouts/main

block variables
  - var title_article = "Терапия в психоаналитической группе. Почему мы боимся начать? О страхе и стыде."
  - var title = "Ксения Барке | Терапия в психоаналитической группе. Почему мы боимся начать? О страхе и стыде."

block content
    +hero_article(title_article, "Ксения Барке")
    include ../blocks/article/Terapiya-v-psihoanaliticheskoi-gruppe-Pochemu-mi-boimsya-nachat-O-strahe-i-stide
