extends ../layouts/main

block variables
  - var title_article = "Уровни коммуникации"
  - var title = "Ксения Барке | Уровни коммуникации"

block content
    +hero_article(title_article, "Ксения Барке")
    include ../blocks/article/Urovni-kommunikacii
