extends ../layouts/main

block variables
  - var title_article = "Возможности групповой психоаналитической работы с чувствами стыда и вины"
  - var title = "Ксения Барке | Возможности групповой психоаналитической работы с чувствами стыда и вины"

block content
    +hero_article(title_article, "Ксения Барке")
    include ../blocks/article/Vozmozhnosti-gruppovoj-psihoanaliticheskoj-raboty-s-chuvstvami-styda-i-viny
