extends ../layouts/main

block variables
  - var title_article = "Язык группы: монолог, диалог и дискурс в групп-анализе"
  - var title = "Ксения Барке | Язык группы: монолог, диалог и дискурс в групп-анализе"

block content
    +hero_article(title_article, "Ксения Барке")
    include ../blocks/article/YAzyk-gruppy-monolog-dialog-i-diskurs-v-grupp-analize
