section.books
    .books__container.container
        .books__header
            h2.title-section Книги
            span.books__subtitle под научной редакцией Ксении Барке

        .swiper.books__slider
            .swiper-wrapper
                .swiper-slide
                    img(src="./assets/img/book/01.jpg")
                .swiper-slide
                    img(src="./assets/img/book/02.jpg")
                .swiper-slide
                    img(src="./assets/img/book/03.jpg")
                .swiper-slide
                    img(src="./assets/img/book/04.jpg")
                .swiper-slide
                    img(src="./assets/img/book/05.jpg")
                .swiper-slide
                    img(src="./assets/img/book/06.jpg")
                //.swiper-slide
                //    img(src="./assets/img/book/07.jpg")
                .swiper-slide
                    img(src="./assets/img/book/08.jpg")
                //.swiper-slide
                //    img(src="./assets/img/book/09.jpg")
                //.swiper-slide
                //    img(src="./assets/img/book/10.jpg")
                .swiper-slide
                    img(src="./assets/img/book/11.jpg")
                .swiper-slide
                    img(src="./assets/img/book/12.jpg")
                .swiper-slide
                    img(src="./assets/img/book/13.jpg")
                .swiper-slide
                    img(src="./assets/img/book/14.jpg")
                .swiper-slide
                    img(src="./assets/img/book/15.jpg")
                .swiper-slide
                    img(src="./assets/img/book/16.jpg")
                .swiper-slide
                    img(src="./assets/img/book/17.jpeg")
                .swiper-slide
                    img(src="./assets/img/book/18.jpg")

            button.swiper-prev
            button.swiper-next
