section.advantages.light-block
    .advantages__container.container
        ul.advantages__list
            li: h2.title-section Почему групповая терапия?

            li.advantages__item Общая идентичность <br> Группа создается чувство принадлежности, в котором мы все нуждаемся
            li.advantages__item Самосознание <br> Проблемы и решения, поднимаемые и обсуждаемые в группе, дают нам представление о нашей собственной жизненной ситуации
            li.advantages__item Открытость <br> Групповая терапия дает нам безопасное пространство, где мы можем свободно выражать себя и свои мысли, не боясь осуждения.
            li.advantages__item Мотивация <br> Видя, как другие борются и преодолевают невзгоды собственной жизни, мы вдохновляемся, чтобы внести свои собственные изменения.
            li.advantages__item Более здоровая перспектива <br> Услышанные истории других людей помогают нам принять и осмыслить наши собственные жизненные истории и трудности.

        a.button-outline.button-outline--dark.advantages__button(href="##" target="_blank") Еще про групповую терапию