mixin hero_article(title, author)
    section.hero.hero-article
        .hero__container.container
            .hero__content
                h1.hero__title.font-decor= title
                .hero__breadcrumbs
                    a(href="yeshche-o-gruppovoy-psikhoterapii.html") Все статьи
                    if author
                        span= author