section.block-article.light-block.ethics
    .block-article__container.container
        aside.block-article__aside
            h2.title-section.decor-line.decor-line--dark Этика психоанализа
            p.block-article__subtitle Задача психотерапевта заключается в том, чтобы создать безопасное и неосуждающее пространство для исследования мыслей, чувств и опыта
            .block-article__img
                img(src='./assets/img/ethics.png' alt="pic")
        .block-article__text
            p.text-indent Я придерживаюсь <b>психоаналитической этики</b> об ответственности перед клиентом, которая предусматривает <b>конфиденциальность психотерапевтической работы, соблюдение психотерапевтических границ и регулярную супервизию.</b>
            p.text-indent Психоанализ похож на путешествие – на неторопливое путешествие вглубь себя.
                | Путешествие, которое принесет множество открытий – как приятных и красивых, так и не очень.
                | <b>Психоаналитическая работа (или психотерапия) – это то пространство, где невозможно обойтись без изменений, где происходит перерождение, появляются новые смыслы, энергия и возможность принятия себя.</b>
            p.text-indent Ощущение благополучия и нахождения «своего места в жизни», - это то, к чему мы все стремимся, и то, что может подарить психотерапия.
