section.block-article.themes.border-light
    .block-article__container.container
        aside.block-article__aside
            h2.title-section.decor-line.decor-line--light С какими темами я работаю
            p.block-article__subtitle Психотерапия — это путешествие, а не пункт назначения
            .block-article__text
                p.text-indent Я придерживаюсь мнения, что <b>личность человека</b> всегда <b>многогранна</b>, и все, что
                    | внутри нас, все темы, с которыми мы изначально обращаемся к психотерапевту,
                    | взаимосвязаны и переплетены. Ни одна тема не возникает отдельно от чего-то еще.
                    | Например, <b>отношения с нынешними партнерами связаны всегда с первичными
                    | отношениями в нашей жизни</b>, с отношениями в семье. Или, поиск ощущения своего места
                    | или, например, смысла в работе – с нашей идентичностью. А депрессивное состояние – с
                    | потерей чего-то важного внутри себя, и необходимостью это <b>найти и вернуть, присвоить себе</b>.
                p.text-indent Ни одна тема, возникающая в кабинете психотерапевта, не является изолированной.
                    | Всегда есть что-то еще. Что-то скрытое. <b>И тогда психотерапия становится путешествием</b>,
                    | превращается в исследование себя и всего, что живет внутри.

        .block-article__img
            img(src='./assets/img/topics.png' alt="pic")
