section.block-article.light-block.what-is
    .block-article__container.container
        aside.block-article__aside
            h2.title-section.decor-line.decor-line--dark Что такое групповая терапия онлайн?
            p.block-article__subtitle Групповая терапия помогает справиться с проблемами через взаимопонимание и поддержку.
            .block-article__img
                img(src='./assets/img/what-is.png' alt="pic")
        .block-article__text
            p Групповая терапия - это совместный и основанный на доказательствах подход к лечению психического здоровья, используемый для поддержки и помощи людям в решении таких проблем, как трудности в отношениях, депрессия, тревога, горе, зависимость, гнев, жизненные переходы и другие психосоциальные стрессовые факторы. В группах работает специалист в области психического здоровья, который направляет, поддерживает и способствует изменениям в группе людей, имеющих общий опыт или трудности, и позволяет людям учиться на опыте друг друга.
            p Иногда, когда мы чувствуем себя подавленным и встревоженным, и все, что нам действительно хочется, - это поговорить с кем-то, кто поймет наши чувства. Но тревожность, трудности в отношениях или депрессия могут заставить нас чувствовать себя изолированным, как будто больше никто никогда не испытывал того же, и никогда не сможет понять. Именно поэтому групповая терапия может существенно изменить ситуацию: Группы дают нам возможность говорить и выражать то, что мы переживаем, с людьми, которые понимают, с чем мы имеем дело, потому что они тоже с этим сталкиваются - или испытывали похожие чувства в своей жизни.
