include ../blocks/mixins

block variables
    - var activePage = activePage

doctype html
html(lang="ru-RU")
    head
        meta(charset="utf-8")
        title #{title}
        //[if IE]
        meta(http-equiv='X-UA-Compatible' content="IE = edge")

        meta(name="viewport" content="width=device-width,initial-scale=1 shrink-to-fit=no")
        meta(property="og:title" content="Ксения Барке - Психотерапевт, Клинический психолог")
        meta(property="og:description" content="Индивидуальный и груповой психоанализ, супервизия для психологов, психотерапия детей и подростков.")

        //favicon
        //link(rel="apple-touch-icon" sizes="180x180" href="./assets/favicon/favicon-180x180.ico")
        //link(rel="icon" type="image/png" sizes="16x16" href="./assets/favicon/favicon-16x16.ico")
        //link(rel="icon" type="image/png" sizes="32x32" href="./assets/favicon/favicon-32x32.ico")

        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet")

        link(rel="stylesheet" type='text/css' href="https://unpkg.com/aos@2.3.1/dist/aos.css")
        link(rel="stylesheet" type='text/css' href="./assets/css/libs.min.css")
        link(rel="stylesheet" type='text/css' href="./assets/css/main-v1.css")


    body
        include ../blocks/header/header
        main.main
            block content
        include ../blocks/footer/footer
        #contacts
    script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js")
    script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
    script(src="./assets/scripts/libs.min.js")
    script(src="./assets/scripts/main-v1.js" type="module")
    block script
