header.header
    .container.header__container
        a.header__logo(href='./')
            img(src="./assets/img/logo.svg")

        nav.header__nav.header-nav
            ul.header-nav__list
                li.header-nav__item
                    a.header-nav__link(href='##') Групп-аналитик
                li.header-nav__item
                    a.header-nav__link(href='##') Еще о групповой терапии
                li.header-nav__item
                    a.header-nav__link(href='##') Контакты

            a.header-nav__tg(href="https://t.me/symbolisierung" target="_blank") Telegram-канал


        button(type="button").header__burger
            span.header__burger-line.header__burger-line-1
            span.header__burger-line.header__burger-line-2
            span.header__burger-line.header__burger-line-3