section.education
    .education__container.container
        h2.title-section Образование

        ul.education__list
            li Национальный исследовательский университет «Высшая школа экономики», магистр психологии
            li Международная школа группового психоанализа (Coirag, Egatin, ЕАРПП), программа «Теория группового и индивидуального психоанализа»
            li Московский государственный медико-стоматологический университет имени&nbsp;.И.&nbsp;Евдокимова, клинический психолог
            li International society of transference-focused psychotherapy, Advancing Treatment of Borderline Personality Disorder, Терапия, фокусированная на переносе
            li Московский институт психоанализа, программа «Групповой психоанализ и психодинамическая психотерапия»
            li The center for group studies, Нью-Йорк, программа подготовки групп-аналитиков

        p.education__text Регулярные супервизии под руководством зарубежных и российских психоаналитиков
        p.education__text Ассоциированный член МПА, член ЕАРПП, Член Ассоциации Психосоциальных Исследований (Великобритания)